@media (max-width:991px) {
	.thank-for-choosing .content-tyc {
		padding: 5px 15px;
	}
	.thank-for-choosing .content-tyc .role-icon {
		margin-top: 5px;
		width: 60px
	}
	.thank-for-choosing .content-tyc .au-logo2 img {
		height: auto;
		width: 100%
	}
	.thank-for-choosing .content-tyc .excess {
		font-size: 14px
	}
	.thank-for-choosing .content-tyc .for-nsw p {
		font-size: 16px
	}
	.steps>ul>li>a {
		font-size: 13px
	}
}
@media (max-width:767px) {
	.thank-for-choosing .content-tyc .excess {
		padding-left: 0;
		font-size: 18px
	}
	.thank-for-choosing .content-tyc .cost-pm2 {
		padding-right: 0
	}
	.thank-for-choosing .content-tyc .au-logo2 img {
		height: 45px;
		width: auto
	}
	.thank-for-choosing .content-tyc .border-inner {
		margin-bottom: 10px
	}
	.thank-for-choosing .content-tyc .role-item {
		text-align: center;
	}
	.thank-for-choosing .content-tyc .role-item>div {
		margin-bottom: 6px;
		padding: 0;
	}
	.thank-for-choosing .content-tyc .role-item>div .role-icon {
		height: 60px;
		padding: 0 15px;
		width: auto
	}
	.thank-for-choosing .content-tyc .role-item .role-text {
		margin-bottom: 0;
	}
	.thank-for-choosing .content-tyc .role-item .role-text.switching {
		padding-top: 0
	}
	.thank-for-choosing .content-tyc .line {
		margin-bottom: 10px;
		margin-top: 5px
	}
}
@media (max-width:720px) {
	.wizard .steps li {
		width: 100% !important;
	}
	.wizard .steps li:not(.current) {
		display: none
	}
	.wizard .steps li a {
		font-size: 25px;
		padding: 20px
	}
	.wizard select.selectpicker {
		padding-left: 5px;
		padding-right: 5px
	}
	.wizard .btn-group.radio>div {
		float: left
	}
}
@media (max-width:680px) {
	.thank-for-choosing .content-tyc .excess {
		font-size: 13px;
	}
	.thank-for-choosing .content-tyc .excess .border-inner {
		padding-top: 20px
	}
	.wizard>.content>.body {
		padding: 0 !important;
	}
	.wizard>.content>.body hr {
		margin-left: 3%;
		width: 94% !important;
		margin-top: 10px;
		margin-bottom: 10px
	}
	.wizard>.content>.body h4 {
		padding: 0 15px
	}
	.wizard>.content>.body .step-item {
		margin-bottom: 10px;
	}
	.wizard>.content>.body .step-item .text-label {
		padding: 5px 15px;
		width: 100%
	}
	.wizard>.content>.body .step-item .step-field {
		width: 100%;
	}
	.wizard>.content>.body .step-item .step-field select.selectpicker {
		font-size: 14px;
		padding-left: 2px;
		padding-right: 2px
	}
	.wizard>.content>.body .step-item .step-field input {
		font-size: 14px
	}
}
@media (max-width:595px) {
	.wizard>.actions {
		margin-top: -128px !important;
	}
	.wizard>.actions>ul>li {
		float: none !important;
		margin: 0 auto;
	}
	.wizard>.actions>ul>li a span {
		float: none;
		margin: 0 auto
	}
	#step-form .content {
		padding-bottom: 125px
	}
}
@media (max-width:580px) {
	.thank-for-choosing .content-tyc>div {
		padding: 0;
		width: 100%;
	}
	.thank-for-choosing .content-tyc>div.cost-pm2 .border-inner {
		padding-top: 20px
	}
	.thank-for-choosing .content-tyc>div .border-inner {
		font-size: 16px;
		height: auto;
		text-align: center;
		padding: 15px;
	}
	.thank-for-choosing .content-tyc>div .border-inner p {
		margin-bottom: 0
	}
	.thank-for-choosing .content-tyc .applying {
		text-align: center
	}
	.thank-for-choosing .content-tyc .role-item {
		padding: 15px 0;
		width: 33.3333%
	}
	.thank-for-choosing .content-tyc .note-text {
		text-align: left
	}
}
@media (max-width:390px) {
	.thank-for-choosing .content-tyc .applying {
		margin-bottom: 10px;
	}
	.thank-for-choosing .content-tyc .applying br {
		display: none
	}
	.thank-for-choosing .content-tyc .role-item {
		padding: 5px 0;
		width: 100%;
		display: none;
	}
	.thank-for-choosing .content-tyc .role-item img {
		margin: 0 auto
	}
	.thank-for-choosing .content-tyc .role-item .role-text {
		margin-top: 10px;
		text-align: left
	}
	.thank-for-choosing .content-tyc .role-style {
		clear: both;
		display: block !important;
		margin: 0 auto;
		max-width: 295px;
	}
	.thank-for-choosing .content-tyc .role-style .role-item {
		display: block
	}
	.thank-for-choosing .content-tyc .role-style .owl-nav div {
		background-repeat: no-repeat;
		background-size: 100% auto;
		height: 22px;
		position: absolute;
		text-indent: -999999px;
		width: 22px;
	}
	.thank-for-choosing .content-tyc .role-style .owl-nav div.owl-prev {
		background-image: url("//cdn.alternativemedia.com.au/hic/images/left-arrow2.png");
		top: 23px
	}
	.thank-for-choosing .content-tyc .role-style .owl-nav div.owl-next {
		background-image: url("//cdn.alternativemedia.com.au/hic/images/right-arrow2.png");
		top: 23px;
		right: 0
	}
}
@media (max-width:340px) {
	.thank-for-choosing .content-tyc>div .border-inner {
		font-size: 14px
	}
}