/* ============================================
PAGE: Creditspring Home 
============================================ */
.cs-home-hero {
	background: $secondary url(../img/cs/cs@2x.jpg) no-repeat center center;
	background-size: cover;
	color: #fff;
	padding: 97px 0;

	@include media-breakpoint-down(md) {
		padding: 50px;
	}

	@include media-breakpoint-down(xs) {
		padding: 30px;
	}
}

.card-deck.cs-features {
	@include media-breakpoint-down(md) {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;

		.cs-f-card {
			margin-bottom: 20px!important;
		}
	}

	.cs-f-card {
		border-color: #F1F1F1;
		
		@include media-breakpoint-up(lg) {
			margin-left: 37.5px!important;
			margin-right: 37.5px!important;
		}
		
		@include media-breakpoint-down(lg) {
			margin-left: 15px!important;
			margin-right: 15px!important;
		}

		.card-body {
			padding: 37px 25px;

			@include media-breakpoint-down(md) {
				padding: 20px;
			}
		}

		h4 {
			line-height: 25px;
		}

		p {
			margin-top: 25px;
			margin-bottom: 0;
		}
	}
}

.why-join {
	background: #F9F9F9;
}

.card.wj {
	background: #fff;
	border-radius: 0;
	border: 0;

	@include media-breakpoint-up(md) {
		.card-body {
			padding: 37px 32px;
			@include media-breakpoint-down(md) {
				padding: 20px;
			}
		}
		margin-right: 20px!important;
		margin-left: 20px!important;
	}

	h5 {
		font-size: 14px;
		font-weight: bold; 
	}

	p {
		font-size: 13px;
		line-height: 24px;
		margin-bottom: 0;
	}
}

/* How it works */
.service-box {
	position: relative;

	@include media-breakpoint-down(md) {
		margin: 20px auto;
		max-width: 350px;
	}

	&:before {
		content: "";
	    background: url(../img/cs/arrow_top.png);
	    width: 104px;
	    height: 102px;
	    position: absolute;
	    z-index: 0;
	    bottom: -71px;
	    right: -20px;
	}

	.number {
		width: 78px;
		height: 78px;
		line-height: 78px;
		text-align: center;
		border-radius: 90px; 
		font-size: 40px;
		display: block;
		float: left;
		margin-right: 18px;

		& + div {
			float: none;
			overflow: hidden;
			font-size: 14px;
			line-height: 21px;

			@include media-breakpoint-up(xs) {
				padding-top: 15px;
			}

			@include media-breakpoint-up(sm) {
				padding-top: 15px;
			}

			@include media-breakpoint-up(md) {
				padding-top: 15px;
			}

			@include media-breakpoint-up(lg) {
				padding-top: 7px;
			}
		}
	}

	&.first {

		@include media-breakpoint-down(md) {
			&:before{
				bottom: inherit;
				left: -71px;
				transform: translateY(-50%) rotate(90deg);
				top: 100%;
			}
		}

		.number {
			color: #E29525;
			background: #FEEED2;
		}
	}

	&.second {
		&:before{
			transform: scaleY(-1);
			bottom: inherit;
			top: -71px;
		}

		@include media-breakpoint-down(md) {
			&:before{
				bottom: inherit!important;
				right: -71px;
				transform: translateY(-50%) rotate(90deg) scaleY(-1)!important;
				top: 100%!important;
			}
		}

		.number {
			color:#4F9FEA;
			background: #B9DDFF;
		}
	}

	&.third {
		@include media-breakpoint-down(md) {
			&:before{
				bottom: inherit;
				left: -71px;
				transform: translateY(-50%) rotate(90deg);
				top: 100%;
			}
		}

		.number {
			color: #7ABA2C;
			background: #E0F4C8;
		}
	}

	&.fourth {
		&:before{
			content:none;
		}

		.number {
			color: #9F6F94;
			background: #E9E2E9;
		}
	}

	@include media-breakpoint-down(xs) {
		&:before{
			content:none;
		}
	}
}

/* ============================================
PAGE: MYSCORE 
============================================ */
.cs-myscore-hero {
	padding-top: 77px;
	background: #F9F9F9;
	background-size: 100% auto;
	z-index: 0;
	position: relative;

	&:before {
		content:"";
		display: block;
		z-index: -1;
		background: #F9F9F9 url(../img/cs/myscore-hero.png) no-repeat center bottom;
		width: 100%;
		height: 100%;
		bottom: 70px;
		left: 0;
		right: 0;
		margin: 0 auto;
		position: absolute;
		@media screen and (min-width: 1919px) {
			background-size: cover;
		}
	}
}

.sub-myscore {
	background: #f9f9f9;
}

.cs-introbox {
	background: #fff;
	box-shadow: 0 11px 24px rgba(0,0,0,.01);
}

.your-score {
	line-height: 42px;
}

.cs-product {
	border-bottom: 1px solid #EAEAEA;
	background: #F9F9F9;

	.cs-product--thumb {
		height: 270px;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	.card {
		.btn {
			border-radius: 2px!important;
			padding: 13px 18px!important;
			font-family: "Gotham_Medium", sans-serif;
		}
	}
}

/* METER */
.cs-meter {
	width: 368px;
	height: 368px;
	background-image: url(../img/cs/meter.png);
	background-size: 100% 100%;
	background-position: center center;
	position: relative;

	@include media-breakpoint-down(xs) {
		width: 300px;
		height: 300px;
		margin: 0 auto;
	}

	.cs-meter--inner {
		text-align: center;
		width: 70%;
		margin: 0 auto 0;
		position: absolute;
		top: 50%;
		left: 0;
		right: 0;
		transform: translateY(-50%);

		.btn {
			border-radius: 90px!important;
			font-family: "Georgia", sans-serif;
			font-weight: normal;
			font-style: italic;
			padding-top: 6px;
			padding-bottom: 6px;
		}
	}
}