.cc-cat-knowledge{
	h4{
	  font-weight: 600;
	}	
  }
   
  .our-values-hero{
	  background: #e9fbf2;
	  position: relative;
	  padding: 0;	
  } 
  
  .our-values-caption{
	  padding: 83px 0 135px;
	  position: relative;
		  &:before{
		  content: '';
		  background-image: url('../img/ilust-hero-1.png');
		  background-size: 300px 251px; 
		  background-repeat: no-repeat;
		  width: 300px;
		  height: 251px;
		  position: absolute;
		  left: 0;
		  bottom: 5px;
		  @media(max-width: 992px){
			  display: none;
		  }
	  }
  
	  &:after{
		  content: '';
		  background-image: url('../img/ilust-hero-2.png');
		  background-size: 300px 185px; 
		  background-repeat: no-repeat;
		  width: 300px;
		  height: 185px;
		  position: absolute;
		  right: 0;
		  bottom: 5px; 
		  @media(max-width: 992px){
			  display: none;
		  }
	  }
	  h2{
		  font-size: 45px;
	  }
	  p{
			font-size: 21px;
	  }
  }
  
  .intro-text{
	  padding: 40px 0 5px;
  }
  
  .security-caption{
	  padding: 83px 0 135px;
	  position: relative;
		  &:before{
		  content: '';
		  background-image: url('../img/ilust-hero-security.png');
		  background-size: 300px 275px; 
		  background-repeat: no-repeat;
		  width: 300px;
		  height: 275px; 
		  position: absolute;
		  left: 0;
		  bottom: 5px;
		  @media(max-width: 992px){
			  display: none;
		  }
	  }
  
	  &:after{
		  content: '';
		  background-image: url('../img/ilust-hero-security2.png');
		  background-size: 200px 262px; 
		  background-repeat: no-repeat;
		  width: 200px;
		  height: 262px;
		  position: absolute;
		  right: 0;
		  bottom: 5px; 
		  @media(max-width: 992px){
			  display: none;
		  }
	  }
	  h2{
		  font-size: 45px;
	  }
	  p{
			font-size: 21px;
			font-weight: bold;
	  }
  }
  
  .cc-list--cust{
	  margin: 45px 0;
	  li{
		  line-height: 1.8;
		  &:before{
			  top: 8px;
		  }
	  }
  }
  
  /*== reskin ==*/
  
  .quote-steps {
	  background: #3E3E3E;
	  padding: 35px 0 30px;
	  text-align: center;
	  color: #fff;
  }
  
  .quote-steps ul {
	  list-style-type: none;
	  padding: 0;
	  margin: 0 auto;
	  display: -ms-flexbox;
	  display: box;
	  display: flex;
	  width: 510px;
	  @media(max-width: 767px){
		  width: auto;
	  }
  }
  
  .quote-steps li {
	  position: relative;
	  width: 33.33%;
	  text-transform: uppercase;
	  color: #888;
	  font-weight: 600;
	  font-size: 10px;
	  letter-spacing: 1px;
  }
  
  .quote-steps .step-icon-1 {
	  background-image: url('../img/quotes-icon1.png');
	  background-size: 22px;
	  background-repeat: no-repeat;
  }
  
  .quote-steps .step-icon-2 {
	  background-image: url('../img/quotes-icon2.png');
	  background-size: 25px;
	  background-repeat: no-repeat;
	  &.visited{
		  background-image: url('../img/quotes-icon2-inactive.png');
	  }
  }
  
  .quote-steps span {
	  display: block;
	  width: 50px;
	  height: 50px;
	  margin: 0 auto 5px;
	  border-radius: 500px;
	  background: #38ac70 no-repeat center;
	  position: relative;
	  z-index: 2;
	  border: 2px solid #38ac70;
	  &.active{
		  background-color: #EE662F;
		  border-color: #EE662F;
	  }
  }
  
  .quote-steps li:nth-child(2):before {
	  background: #fff;
	  left: auto;
	  right: 50%;
  }
  
  .quote-steps li.active:before {
	  background: rgba(56,172,112,1);
  background: -moz-linear-gradient(left, rgba(56,172,112,1) 0%, rgba(238,101,47,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(56,172,112,1)), color-stop(100%, rgba(238,101,47,1)));
  background: -webkit-linear-gradient(left, rgba(56,172,112,1) 0%, rgba(238,101,47,1) 100%);
  background: -o-linear-gradient(left, rgba(56,172,112,1) 0%, rgba(238,101,47,1) 100%);
  background: -ms-linear-gradient(left, rgba(56,172,112,1) 0%, rgba(238,101,47,1) 100%);
  background: linear-gradient(to right, rgba(56,172,112,1) 0%, rgba(238,101,47,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#38ac70', endColorstr='#ee652f', GradientType=1 );
	  left: auto;
	  right: 50%;
  }
  
  .quote-steps li.active.next:before {
	   background: #38AC70;
  }
  
  .quote-steps li.active.next:after {
	   background: rgba(56,172,112,1);
  background: -moz-linear-gradient(left, rgba(56,172,112,1) 0%, rgba(238,101,47,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(56,172,112,1)), color-stop(100%, rgba(238,101,47,1)));
  background: -webkit-linear-gradient(left, rgba(56,172,112,1) 0%, rgba(238,101,47,1) 100%);
  background: -o-linear-gradient(left, rgba(56,172,112,1) 0%, rgba(238,101,47,1) 100%);
  background: -ms-linear-gradient(left, rgba(56,172,112,1) 0%, rgba(238,101,47,1) 100%);
  background: linear-gradient(to right, rgba(56,172,112,1) 0%, rgba(238,101,47,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#38ac70', endColorstr='#ee652f', GradientType=1 );
  }
  
  .quote-steps li:nth-child(2):before, .quote-steps li:nth-child(2):after {
	  content: '';
	  display: block;
	  width: 100%;
	  height: 2px;
	  position: absolute;
	  top: 23px;
	  bottom: 15px;
  }
  
  .quote-steps li:nth-child(2):after {
	  background: #6D6D6D;
	  left: 50%;
  }
  
  .quote-steps .step-tooltip {
	  position: absolute;
	  top: 100%;
	  margin: 7px auto 0;
	  background: #fff;
	  padding: 5px 10px;
	  font-size: 14px;
	  border-radius: 10px;
	  color: #212121;
	  left: 50%;
	  -webkit-transform: translate(-50%,0);
	  -moz-transform: translate(-50%,0);
	  -o-transform: translate(-50%,0);
	  -ms-transform: translate(-50%,0);
	  transform: translate(-50%,0);
	  white-space: nowrap;
	  z-index: 3;
  }
  
  .quote-steps .step-tooltip:after {
	  content: '';
	  position: absolute;
	  top: auto;
	  left: 50%;
	  bottom: 100%;
	  width: 0;
	  height: 0;
	  border-bottom: 10px solid #fff;
	  border-left: 4px solid transparent;
	  border-right: 4px solid transparent;
	  margin: 0 0 0 -4px;
  }
  
  .quote-steps span.inactive {
	  background-color: #3e3e3e;
	  border-color: #6D6D6D;
  }
  
  .quote-steps .step-icon-3 {
	  background-image: url('../img/quotes-icon3.png');
	  background-size: 22px;
	  background-repeat: no-repeat;
	  &.active{
		  background-image: url('../img/quotes-icon3-active.png');
	  }
  }
  
  #refine-results{
	  -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.09);
	  -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.09);
	  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.09);
	  margin-bottom: 30px;
  }
  
  #refine-results .card-header {
	  background: #3e3e3e;
	  color: #fff;
	  border-radius: 0!important;
	  position: relative;
	  z-index: 0;
  }
  
  #refine-results{
	  h5{
		  color: #38ac70;
		  font-weight: 600;
		  font-size: 12px;
		  text-transform: uppercase;
		  letter-spacing: 1px;
		  margin-bottom: 18px;
	  }
	  h6{
		  font-size: 14px;
		  font-weight: 600; 
		  margin-bottom: 22px;
	  }
  }
  
  .slider-wrap{
	  margin-bottom: 25px;
  }
  
  
  #refine-results .refine h5 button:before {
	  display: block;
	  top: 12px;
	  position: absolute;
	  content: "";
	  right: 20px;
	  margin: auto 0;
		 background-image: url('../img/close-ico.svg');
	  background-size: 10px;
	  background-repeat: no-repeat;
		  -webkit-transform: rotate(90deg);
	  transform: rotate(90deg);
		  background-size: 13px;
	  width: 13px;
	  height: 13px;
  }
  
  #refine-results .refine h5 button.collapsed:before {
	  display: block;
	  position: absolute;
	  content: "";
	  right: 20px;
	  margin: auto 0;
		 background-image: url('../img/close-ico.svg');
	  background-size: 10px;
	  background-repeat: no-repeat;
		  -webkit-transform: rotate(45deg);
	  transform: rotate(45deg); 
		  background-size: 13px;
	  width: 13px;
	  height: 13px;
  } 
  
  @media(min-width: 992px){
	  #refine-results .refine h5 button:before,
	  #refine-results .refine h5 button.collapsed:before
	  {
		  display: none;
	  }	
  } 
  
  #refine-results .refine{
	  text-align: center;
	  background: #38AC70;
  }
  
  #refine-results .refine .btn{
	  font-size: 12px;
	  font-weight: 400;
	  letter-spacing: 2px;
	  padding: 0;
	  color: #fff;
	  &:hover, &:focus{
		  text-decoration: none;
	  }
	  @media(max-width: 991px){
		  float: left;
	  }
  }
  
  
  
  .render-slider.ui-widget {
	  border-radius: 500px;
	  background: #E1E1E1;
	  border: 0;
	  margin: 0 4px 5px;
	  height: 10px;
  }
  
  .render-slider.ui-widget .ui-slider-range {
	  border-radius: 500px;
	  border: 0;
	  background: #EE662F;
  }
  
  .ui-slider-horizontal .ui-slider-range {
	  border-radius: 4px 0 0 4px;
	  -moz-border-radius: 4px 0 0 4px;
	  -webkit-border-radius: 4px 0 0 4px;
	  background: #71bd57;
	  display: block;
	  position: absolute;
	  left: 0;
	  height: 100%;
	  top: 0;
	  bottom: 0;
  }
  
  .render-slider.ui-widget .ui-state-default {
	  border: 0;
	  border-radius: 500px;
	  background: #EE662F;
	  box-shadow: none;
	  width: 17px;
	  height: 17px;
	  outline: 0;
	  top: 50%;
	  margin-top: -9px;
  }
  
  .ui-slider-horizontal .ui-slider-handle {
	  position: absolute;
	  display: block;
	  background: #e0e0e0;
	  box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.2);
	  width: 24px;
	  height: 24px;
	  top: -6px;
	  margin-left: -12px;
	  border-radius: 100px;
	  -moz-border-radius: 100px;
	  -webkit-border-radius: 100px;
	  border: 0 !important;
	  cursor: pointer;
  }
  
  .slider-step-labels {
	  display: -ms-flexbox;
	  display: box;
	  display: flex;
	  -o-box-align: start;
	  -ms-flex-align: start;
	  align-items: flex-start;
	  -o-box-pack: justify;
	  -ms-flex-pack: justify;
	  justify-content: space-between;
  }
  
  .slider-step-labels a {
	  display: block;
	  font-size: 12px;
	  color: #707070;
	  cursor: pointer;
  }
  
  .slider-step-labels a:nth-child(2) {
	  margin-left: 10px;
  }
  
  .slider-step-labels a.active {
	  font-weight: 700;
	  color: #212121;
  }
  
  .ui-slider .ui-slider-handle {
	  position: absolute;
	  z-index: 2;
	  width: 1.2em;
	  height: 1.2em;
	  cursor: default;
	  -ms-touch-action: none;
	  touch-action: none;
  }
  
  /*== reskin range slider ==*/
  @font-face {
	  font-family: 'Proxima Nova Light';
	  src: url('//cdn.alternativemedia.com.au/hic/fonts/proximanova-light-webfont.eot');
	  src: url('//cdn.alternativemedia.com.au/hic/fonts/proximanova-light-webfont.eot?#iefix') format('embedded-opentype'),
		   url('//cdn.alternativemedia.com.au/hic/fonts/proximanova-light-webfont.woff') format('woff'),
		   url('//cdn.alternativemedia.com.au/hic/fonts/proximanova-light-webfont.ttf') format('truetype'),
		   url('//cdn.alternativemedia.com.au/hic/fonts/proximanova-light-webfont.svg#Proxima Nova Light') format('svg');
	  font-weight: normal;
	  font-style: normal;
  }
  
  @font-face {
	  font-family: 'Proxima Nova Regular';
	  src: url('//cdn.alternativemedia.com.au/hic/fonts/proximanova-regular-webfont.eot');
	  src: url('//cdn.alternativemedia.com.au/hic/fonts/proximanova-regular-webfont.eot?#iefix') format('embedded-opentype'),
		   url('//cdn.alternativemedia.com.au/hic/fonts/proximanova-regular-webfont.woff') format('woff'),
		   url('//cdn.alternativemedia.com.au/hic/fonts/proximanova-regular-webfont.ttf') format('truetype'),
		   url('//cdn.alternativemedia.com.au/hic/fonts/proximanova-regular-webfont.svg#Proxima Nova Regular') format('svg');
	  font-weight: normal;
	  font-style: normal;
  }
  
  @font-face {
	  font-family: 'Proxima Nova Semibold';
	  src: url('//cdn.alternativemedia.com.au/hic/fonts/proximanova-semibold-webfont.eot');
	  src: url('//cdn.alternativemedia.com.au/hic/fonts/proximanova-semibold-webfont.eot?#iefix') format('embedded-opentype'),
		   url('//cdn.alternativemedia.com.au/hic/fonts/proximanova-semibold-webfont.woff') format('woff'),
		   url('//cdn.alternativemedia.com.au/hic/fonts/proximanova-semibold-webfont.ttf') format('truetype'),
		   url('//cdn.alternativemedia.com.au/hic/fonts/proximanova-semibold-webfont.svg#Proxima Nova Semibold') format('svg');
	  font-weight: normal;
	  font-style: normal;
  }
  
  @font-face {
	  font-family: 'Proxima Nova Semibold Italic';
	  src: url('//cdn.alternativemedia.com.au/hic/fonts/proximanova-semibolditalic-webfont.eot');
	  src: url('//cdn.alternativemedia.com.au/hic/fonts/proximanova-semibolditalic-webfont.eot?#iefix') format('embedded-opentype'),
		   url('//cdn.alternativemedia.com.au/hic/fonts/proximanova-semibolditalic-webfont.woff') format('woff'),
		   url('//cdn.alternativemedia.com.au/hic/fonts/proximanova-semibolditalic-webfont.ttf') format('truetype'),
		   url('//cdn.alternativemedia.com.au/hic/fonts/proximanova-semibolditalic-webfont.svg#Proxima Nova Semibold Italic') format('svg');
	  font-weight: normal;
	  font-style: normal;
  }
  
  @font-face {
	  font-family: 'Proxima Nova Bold';
	  src: url('//cdn.alternativemedia.com.au/hic/fonts/proximanova-bold-webfont.eot');
	  src: url('//cdn.alternativemedia.com.au/hic/fonts/proximanova-bold-webfont.eot?#iefix') format('embedded-opentype'),
		   url('//cdn.alternativemedia.com.au/hic/fonts/proximanova-bold-webfont.woff') format('woff'),
		   url('//cdn.alternativemedia.com.au/hic/fonts/proximanova-bold-webfont.ttf') format('truetype'),
		   url('//cdn.alternativemedia.com.au/hic/fonts/proximanova-bold-webfont.svg#Proxima Nova Bold') format('svg');
	  font-weight: normal;
	  font-style: normal;
  }
  
  /*basic reset*/
  *:active, *:focus, *:hover {
	  outline: none;
  }
  
  /*================================
	  Gradient style
  ================================*/
  .gradient-style {
	  background: #ffffff; /* Old browsers */ /* FF3.6+ */ /* Chrome,Safari4+ */ /* Chrome10+,Safari5.1+ */ /* Opera 11.10+ */ /* IE10+ */
	  background: -webkit-gradient(linear,  left top, left bottom,  from(#ffffff),to(#dfdfdf));
	  background: linear-gradient(to bottom,  #ffffff 0%,#dfdfdf 100%); /* W3C */
	  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#dfdfdf',GradientType=0 ); /* IE6-9 */
  
	  -webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.2);
	  box-shadow:         0px 1px 1px 0px rgba(0, 0, 0, 0.2);
  
	  border: 1px solid #dfe2e4;
  }
  
  /*================
	  popup-charges styles
  ================*/
  .popup-charges * {
	  line-height: 1;
  }
  .popup-charges, .popup-charges-overlay {
	  -webkit-transition: .5s ease;
	  transition: .5s ease;
	  visibility: hidden;
  }
  .popup-charges-overlay {
	  background: rgba(0,0,0,.7);
	  position: fixed;
	  z-index: 200;
	  top: 0;
	  left: 0;
	  bottom: 0;
	  right: 0;
	  opacity: 0;
	  pointer-events: none;
	  overflow-y: auto;
  }
  .popup-charges-wrap {
	  background: #fff;
	  border-radius: 4px;
	  position: relative;
  }
  
  .popup-charges-wrap:before, .popup-charges-wrap:after, .popup-charges-body:before, .popup-charges-body:after {
	  content: '';
	  clear: both;
	  display: table;
	  float: none;
  }
  .popup-charges {
	  opacity: 0;
	  pointer-events: none;
	  font-family: 'Proxima Nova Regular', sans-serif;
	  width: 750px;
	  position: absolute;
	  left: 50%;
	  top: 0;
	  margin-left: -375px;
	  z-index: 102;
	  font-size: 14px;
	  border-radius: 4px 4px 4px 4px;
	  color: #212121;
	  background: #71bd57;
	  padding: 5px 0;
  }
  .popup-charges strong {
	  font-family: 'Proxima Nova Bold', sans-serif;
	  font-weight: normal;
  }
  
  .popup-charges-header {
	  font-size: 18px;
	  width: 100%;
	  background: #fafafa;
	  color: #212121;
	  position: relative;
	  text-align: center;
	  border-radius: 4px 4px 0 0;
	  line-height: 1;
	  z-index: 1;
  }
  .popup-charges-header:after {
	  content: '';
	  display: block;
	  position: absolute;
	  top: 0;
	  bottom: 0;
	  left: 0;
	  right: 0;
	  height: 100%;
	  width: 100%;
	  -webkit-box-shadow: inset 0px -2px 5px 0px rgba(0, 0, 0, 0.1);
	  box-shadow:         inset 0px -2px 5px 0px rgba(0, 0, 0, 0.1);
	  z-index:3;
	  pointer-events: none;
  }
  .popup-charges-header * {
	  position: relative;
  }
  .popup-charges-header .close-popup-charges {
	  position: absolute;
	  right: -8px;
	  top: -10px;
	  width: 23px;
	  height: 23px;
	  line-height: 23px;
	  font-size: 14px;
	  color: #b9b9b9;
	  text-align: center;
	  border-radius: 500px;
	  cursor: pointer;
  }
  .popup-charges-header .close-popup-charges .fa {
	  position: relative;
	  top: -2px;
	  line-height: 23px;
  }
  .popup-charges-header .close-popup-charges:hover, .popup-charges-header .close-popup-charges:focus, .popup-charges-header .close-popup-charges:active {
	  color: #eb1d1d;
  }
  #popcharges-modal .popup-charges-body {
	  padding: 30px 30px 15px;
  }
  
  .popup-charges-body h1 {
	  font-size: 32px;
	  color: #334550;
	  font-weight: normal;
	  font-family: 'Proxima Nova Bold', sans-serif;
	  margin-bottom: 20px;
  }
  .popup-charges-body h1 span {
	  color: #60c4d1;
  }
  .popup-charges-body p {
	  font-size: 16px;
	  margin: 0 auto 15px;
	  line-height: 1.5;
  }
  .popup-charges-body p a {
	  text-decoration: none !important;
	  color: #71be59;
  }
  
  .popup-charges-overlay.active, .popup-charges.active {
	  opacity: 1;
	  pointer-events: auto;
	  visibility: visible;
  }
  .popup-charges.active {
	  top: 60px;
  }
  
  /*================
	  popup-lic styles
  ================*/
  .popup-lic * {
	  line-height: 1;
  }
  .popup-lic, .popup-lic-overlay {
	  -webkit-transition: .5s ease;
	  transition: .5s ease;
	  visibility: hidden;
  }
  .popup-lic-overlay {
	  background: rgba(0,0,0,.7);
	  position: fixed;
	  z-index: 200;
	  top: 0;
	  left: 0;
	  bottom: 0;
	  right: 0;
	  opacity: 0;
	  pointer-events: none;
	  overflow-y: auto;
  }
  .popup-lic-wrap {
	  background: #fff;
	  border-radius: 4px;
	  position: relative;
  }
  .popup-lic-wrap:before, .popup-lic-wrap:after, .popup-lic-body:before, .popup-lic-body:after {
	  content: '';
	  clear: both;
	  display: table;
	  float: none;
  }
  .popup-lic {
	  opacity: 0;
	  pointer-events: none;
	  font-family: 'Proxima Nova Regular', sans-serif;
	  width: 750px;
	  position: absolute;
	  left: 50%;
	  top: 0;
	  margin-left: -375px;
	  z-index: 102;
	  font-size: 14px;
	  border-radius: 4px 4px 4px 4px;
	  color: #212121;
	  background: #71bd57;
	  padding: 0 0 5px;
  }
  
  .popup-lic:after {
	  content: '';
	  display: block;
	  position: absolute;
	  top: auto;
	  bottom: 0;
	  left: 0;
	  width: 160px;
	  background: #56a53d;
	  height: 5px;
	  border-radius:  0 0 0 4px
  }
  
  .popup-lic-header {
	  font-size: 18px;
	  width: 100%;
	  padding: 40px 0 0 200px;
	  background: #ffffff;
	  color: #212121;
	  position: relative;
	  text-align: center;
	  min-height: 206px;
	  border-radius: 4px 4px 0 0;
	  line-height: 1;
	  z-index: 1;
  }
  .popup-lic-header:after {
	  content: '';
	  display: block;
	  position: absolute;
	  top: 0;
	  bottom: 0;
	  left: 0;
	  right: 0;
	  height: 100%;
	  width: 100%;
	  -webkit-box-shadow: inset 0px -2px 5px 0px rgba(0, 0, 0, 0.1);
	  box-shadow:         inset 0px -2px 5px 0px rgba(0, 0, 0, 0.1);
	  z-index:3;
	  pointer-events: none;
  }
  .popup-lic-header * {
	  position: relative;
  }
  .popup-lic-header img {
	  position: absolute;
	  top: 0;
	  left: 0;
	  border-radius: 4px 0 0;
  }
  .popup-lic-header h1 {
	  font-size: 24px;
	  margin: 0 0 20px;
  }
  .popup-lic-header h1, .popup-lic-header p {
	  z-index: 2;
	  font-family: 'Proxima Nova Regular', sans-serif;
	  font-weight: normal;
  }
  .popup-lic-header h1 strong {
	  color: #71bd57;
  }
  .popup-lic-header p {
	  max-width: 270px;
	  margin: 0 auto;
	  font-size: 17px;
	  line-height: 1.2
  }
  .popup-lic strong {
	  font-family: 'Proxima Nova Bold', sans-serif;
	  font-weight: normal;
  }
  
  #poplic-modal2 .close-popup-lic, #poplic-modal1 .close-popup-lic {
	  display: none;
  }
  /*modal2*/
  #poplic-modal2 .popup-lic-header {
	  padding: 16px 30px 30px;
	  min-height: 1px;
	  width: auto;
	  max-width: 100%;
	  margin: 20px 30px 0;
	  box-shadow: 0 2px 2px rgba(0,0,0,.16)
  }
  #poplic-modal2 .popup-lic-header:after {
	  display:  none;
  }
  #poplic-modal2 .popup-lic-header p {
	  max-width: 100%;
	  font-size: 16px;
	  width: 560px;
  }
  #poplic-modal2 .popup-lic-header .close-popup-lic {
	  top: -32px;
	  right: -42px;
  }
  #poplic-modal2 .popup-lic-body {
	  padding: 30px 30px 15px;
  }
  
  .popup-lic-logo {
	  display: inline-block;
  }
  .popup-lic-header .close-popup-lic {
	  position: absolute;
	  right: -12px;
	  top: -12px;
	  width: 24px;
	  height: 24px;
	  line-height: 23px;
	  font-size: 14px;
	  color: #b9b9b9;
	  text-align: center;
	  border-radius: 500px;
	  cursor: pointer;
	  background: #71bd57 url(//cdn.alternativemedia.com.au/articleimagehosting/hic/hic-xsell-modal-close1.png) no-repeat center;
	  -webkit-transition: .5s ease-in-out;transition: .5s ease-in-out;
	  border: 0;
	  outline: 0;
  }
  .popup-lic-header .close-popup-lic .fa {
	  position: relative;
	  top: -2px;
	  line-height: 23px;
	  display: none;
  }
  .popup-lic-header .close-popup-lic:hover, .popup-lic-header .close-popup-lic:focus, .popup-lic-header .close-popup-lic:active {
	  color: #eb1d1d;
	  background-color: #eb1d1d;
  }
  .popup-lic-body {
	  padding: 30px 30px 30px 220px;
	  text-align: center;
	  min-height: 100px;
	  color: #212121;
	  position: relative;
	  z-index: 2;
  }
  .popup-lic-badge {
	  position: absolute;
	  left: 30px;
	  top: -23px;
  }
  .popup-lic-btn {
	  display: block;
	  margin: 0 auto 15px;
	  max-width: 400px;
	  line-height: 1;
	  font-size: 17px;
	  padding: 15px;
	  font-weight: normal;
	  font-family: 'Proxima Nova Bold', sans-serif;
	  border-radius: 6px;
	  -webkit-box-shadow: 0 2px 0 0 #61a34c;
	  -ms-box-shadow: 0 2px 0 0 #61a34c;
	  -o-box-shadow: 0 2px 0 0 #61a34c;
	  box-shadow: 0 2px 0 0 #61a34c;
	  background: #71bd57;
	  color: #fff !important;
	  position: relative;
	  top: 0;
	  text-decoration: none;
	  text-transform: uppercase;
	  -webkit-transition: .5s ease-in-out;transition: .5s ease-in-out;
  }
  .popup-lic-btn:hover,
  .popup-lic-btn:focus {
	  text-decoration: none;
  }
  .popup-lic-btn:hover {
	  background: #7cce5f;
  }
  .popup-lic-btn:focus {
	  top: 2px;
	  background: #61a34c;
	  -webkit-box-shadow: 0 0 0 0 #61a34c;
			  box-shadow: 0 0 0 0 #61a34c;
  }
  .popup-lic-btn.popup-lic-btn-grey {
	  background: #bfbfbf;
	  -webkit-box-shadow: 0 2px 0 0 #919191;
			  box-shadow: 0 2px 0 0 #919191;
	  font-size: 16px;
	  text-transform: none;
  }
  .popup-lic-btn.popup-lic-btn-grey:hover {
	  background: #adadad;
  }
  .popup-lic-btn.popup-lic-btn-grey:focus {
	  background:#919191;
	  -webkit-box-shadow: 0 0 0 0 #919191;
			  box-shadow: 0 0 0 0 #919191;
  }
  .popup-lic-body h1 {
	  font-size: 32px;
	  color: #334550;
	  font-weight: normal;
	  font-family: 'Proxima Nova Bold', sans-serif;
	  margin-bottom: 20px;
  }
  .popup-lic-body h1 span {
	  color: #60c4d1;
  }
  .popup-lic-body p {
	  font-size: 16px;
	  margin: 0 auto 15px;
	  line-height: 1.5;
  }
  .popup-lic-body p a {
	  text-decoration: none !important;
	  color: #71be59;
  }
  .call-back-btn {
	  text-decoration: none !important;
	  display: inline-block;
	  padding: 15px 10px 15px 20px;
	  border-radius: 3px;
	  color: #fff;
	  font-weight: normal;
	  font-family: 'Proxima Nova Bold', sans-serif;
	  background: #60c4d1;
	  font-size: 22px;
	  position: relative;
	  overflow: hidden;
  }
  .call-back-btn:before {
	  z-index: 3;
	  width: 90px;
	  content: '';
	  position: absolute;
	  right: -30px;
	  top: 0;
	  bottom: 0;
	  transform: skewX(30deg);
	  -ms-transform: skewX(30deg);
	  -webkit-transform: skewX(30deg);
	  background: #334550;
  }
  .call-back-btn:hover, .call-back-btn:focus {
	  background: #334550;
	  color: #60c4d1;
  }
  .call-back-btn i {
	  position: relative;
	  z-index: 4;
	  display: inline-block;
	  padding: 0 15px 0 20px;
	  color: #fff;
  }
  .combo-styled {
	  display: inline-block;
	  width: 100%;
	  height: 45px;
	  overflow: hidden;
	  position: relative;
	  margin-bottom: 0;
	  border: 1px solid #334550;
	  border-radius: 4px;
  }
  .combo-styled:after {
	  background: #fff url(img/combo-arrow2.png) no-repeat center;
	  width: 50px;
	  height: 45px;
	  position: absolute;
	  top: 0;
	  right: 1px;
	  content: '';
	  z-index: 3;
	  pointer-events: none;
	  border-left: 1px solid #334550;
  }
  .combo-styled select,.combo-styled select:focus, .combo-styled select:active {
	  position: absolute;
	  z-index: 2;
	  font-weight: normal;
	  font-family: 'Proxima Nova Bold', sans-serif;
	  font-size: 16px !important;
	  width: 100%;
	  height: 45px;
	  left: 0;
	  right: 0;
	  top: 0;
	  bottom: 0;
	  border: none !important;
	  outline: none !important;
	  padding: 0 15px;
	  background: #fff;
	  color: #334550;
	  display: block;
	  margin: 0;
  }
  
  
  /*to show the popup-lic overlay*/
  .popup-lic-overlay.active, .popup-lic.active {
	  opacity: 1;
	  pointer-events: auto;
	  visibility: visible;
  }
  .popup-lic.active {
	  top: 60px;
  }
  
  /*columns*/
  .pop-row {
	  margin-left: -10px;
	  margin-right: -10px;
  }
  .pop-row:after, .pop-row:before {
	  content: '';
	  clear: both;
	  float: none;
	  width: 100%;
  }
  .pop-column {
	  float: left;
	  padding-left: 10px;
	  padding-right: 10px;
	  margin-bottom: 15px;
  }
  .pop-column.half-width {
	  width: 50%;
  }
  .pop-column.full-width {
	  width: 100%;
	  margin-bottom: 0;
  }
  .pop-column input {
	  border-radius: 4px !important;
	  font-weight: normal;
	  font-family: 'Proxima Nova Bold', sans-serif;
	  font-size: 16px !important;
	  width: 100% !important;
	  height: 45px !important;
	  outline: none !important;
	  padding: 0 15px !important;
	  border: 1px solid #334550 !important;
	  color: #334550 !important;
  }
  .pop-column.full-width input {
	  max-width: 50%;
	  margin-left: auto;
	  margin-right: auto;
	  background: #71be59;
	  color: #fff !important;
	  border: none !important;
	  text-transform: uppercase;
	  font-size: 20px;
	  margin-bottom: 10px;
	  cursor: pointer;
  }
  
  .pop-column input::-webkit-input-placeholder {
	 color: #334550;
  }
  
  .pop-column input:-moz-placeholder { /* Firefox 18- */
	 color: #334550;
  }
  
  .pop-column input::-moz-placeholder {  /* Firefox 19+ */
	 color: #334550;
  }
  
  .pop-column input:-ms-input-placeholder {
	 color: #334550;
  }
  .pop-phone {
	  font-size: 30px;
	  font-weight: normal;
	  font-family: 'Proxima Nova Bold', sans-serif;
	  text-decoration: none;
	  color:#60c4d1;
  }
  .pop-phone img {
	  width: 30px;
	  height: 30px;
	  position: relative;
	  margin-right: 5px;
	  top: 4px;
  }
  .pop-phone:hover, .pop-phone:active, .pop-phone:focus {
	  color: #71be59;
  }
  .pop-hours {
	  display: block;
	  color: #334550;
  }
  .text-right {
	  text-align: right;
  }
  .text-left {
	  text-align: left;
  }
  
  
  /*modal form*/
  .popup-lic-row {
	  margin: 0 -15px;
  }
  .popup-lic-row:before, .popup-lic-row:after, .btn-group:before, .btn-group:after {
	  content: '';
	  clear: both;
	  display: table;
  }
  .popup-lic-fld {
	  float: left;
	  width: 50%;
	  padding: 0 15px;
	  margin: 0 0 20px;
	  position: relative;
  }
  .btn-group,
  .btn-group-vertical {
	position: relative;
	display: inline-block;
	vertical-align: middle;
  }
  .btn-group > .btn,
  .btn-group-vertical > .btn {
	position: relative;
	float: left;
  }
  .btn-group > .btn:hover,
  .btn-group-vertical > .btn:hover,
  .btn-group > .btn:focus,
  .btn-group-vertical > .btn:focus,
  .btn-group > .btn:active,
  .btn-group-vertical > .btn:active,
  .btn-group > .btn.active,
  .btn-group-vertical > .btn.active {
	z-index: 2;
  }
  .btn-group .btn + .btn,
  .btn-group .btn + .btn-group,
  .btn-group .btn-group + .btn,
  .btn-group .btn-group + .btn-group {
	margin-left: 0;
  }
  .btn-toolbar {
	margin-left: -5px;
  }
  .btn-toolbar .btn,
  .btn-toolbar .btn-group,
  .btn-toolbar .input-group {
	float: left;
  }
  .btn-toolbar > .btn,
  .btn-toolbar > .btn-group,
  .btn-toolbar > .input-group {
	margin-left: 5px;
  }
  .btn-group > .btn:not(:first-child):not(:last-child):not(.dropdown-toggle) {
	border-radius: 0;
  }
  .btn-group > .btn:first-child {
	margin-left: 0;
  }
  .btn-group > .btn:first-child:not(:last-child):not(.dropdown-toggle) {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
  }
  .btn-group > .btn:last-child:not(:first-child),
  .btn-group > .dropdown-toggle:not(:first-child) {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
  }
  .btn-group > .btn-group {
	float: left;
  }
  .btn-group > .btn-group:not(:first-child):not(:last-child) > .btn {
	border-radius: 0;
  }
  .btn-group > .btn-group:first-child:not(:last-child) > .btn:last-child,
  .btn-group > .btn-group:first-child:not(:last-child) > .dropdown-toggle {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
  }
  .btn-group > .btn-group:last-child:not(:first-child) > .btn:first-child {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
  }
  .btn-group {
  width: 100%;
  border: 1px solid #c6c6c6;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  overflow: hidden;
  }
  .btn-group .btn.btn-primary {
  border:0;
  }
  .state-holder {
	padding-top: 12px;
  }
  .btn-group>.btn {
	  display: block;
	  float: left;
	  width: 50%;
	  line-height: 46px;
	  padding: 0;
	  margin: 0;
	  text-transform: capitalize;
	  font-family: 'Proxima Nova Regular';
	  font-weight: normal;
	  font-size: 16px;
	  text-align: center;
	  background: #ffffff;
	  -webkit-box-shadow: none;
	  box-shadow: none;
	  -webkit-transition: all 0.3s cubic-bezier(.49,.38,.23,.96);
	  transition: all 0.3s cubic-bezier(.49,.38,.23,.96);
		color: #a4a4a4;
		cursor: pointer;
  }
  .btn input {
	  position: absolute;
	  clip: rect(0,0,0,0);
	  pointer-events: none;
	  opacity: 0;
  }
  .btn-group>.btn.active {
	  background: #71bd57;
	  -webkit-box-shadow: none;box-shadow: none;
	  color: #ffffff;
  }
  div.ui-slider {
	  position: relative;
	  margin-top: 25px;
	  margin-bottom: 10px;
	  background: #E1E1E1;
	  border-radius: 4px;
	  -moz-border-radius: 4px;
	  -webkit-border-radius: 4px;
	  height: 2px !important;
	  border: 0;
	  clear: both;
  }
  .ui-slider-horizontal .ui-slider-handle {
	  position: absolute;
	  display: block;
	  background: #e0e0e0;
	  -webkit-box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.2);
	  box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.2);
	  width: 24px;
	  height: 24px;
	  top: -6px;
	  margin-left: -12px;
	  border-radius: 100px;
	  -moz-border-radius: 100px;
	  -webkit-border-radius: 100px;
	  border: 0 !important;
	  cursor: pointer;
  }
  .ui-slider-horizontal .ui-slider-range{
	  border-radius: 4px 0 0 4px;
	  -moz-border-radius: 4px 0 0 4px;
	  -webkit-border-radius: 4px 0 0 4px;
	  background: #71bd57;
	  display: block;
	  position: absolute;
	  left: 0;
	  height: 100%;
	  top: 0;
	  bottom: 0;
  }
  .slide-container {
  margin-bottom: 0;
  padding: 0;
  }
  .popup-lic-fld label {
	  display: block;
	  font-family: 'Proxima Nova Regular';
	  font-weight: normal;
	  font-size: 16px;
	  text-transform: uppercase;
	  text-align: left;
	  margin-bottom: 8px;
  }
  
  .slide-container label, .slide-container .pull-right {
	  margin-bottom: 7px;
	  line-height: 1.1;
	  font-size: 16px;
	  font-family: 'Proxima Nova Regular';
	  font-weight: normal;
  }
  .popup-lic-fld input:not([type=checkbox]):not([type=radio]), .popup-lic-fld select {
	  padding: 10px 19px;
	  height: 48px;
	  line-height: normal;
	  font-size: 16px;
	  font-family: 'Proxima Nova Regular';
	  font-weight: normal;
	  color: #707070;
	  display: block;
	  width: 100%;
	  border-radius: 4px;
	  -webkit-border-radius: 4px;
	  border: 1px solid #c6c6c6;
	  outline: none !important;
	  margin: 0 0 15px;
	  text-align: left !important;
	  -webkit-appearance: none;
	 -moz-appearance: none;
	 appearance: none;
	 background-color: #fff;
  }
  .popup-lic-fld input:not([type=checkbox]):not([type=radio]):focus, .popup-lic-fld select:focus {
	  border-color: #71bd57;
  }
  #occupation {
	  background-image: url('img/occupation-bg.jpg');
	  background-repeat: no-repeat;
	  background-position: right center;
	  padding-right: 40px;
  }

  
  /*.tooltip{position:absolute;z-index:1070;display:block;font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;font-size:12px;font-weight:400;line-height:1.4;filter:alpha(opacity=0);opacity:0}.tooltip.in{filter:alpha(opacity=90);opacity:.9}.tooltip.top{padding:5px 0;margin-top:-3px}.tooltip.right{padding:0 5px;margin-left:3px}.tooltip.bottom{padding:5px 0;margin-top:3px}.tooltip.left{padding:0 5px;margin-left:-3px}.tooltip-inner{max-width:200px;padding:3px 8px;color:#fff;text-align:center;text-decoration:none;background-color:#000;border-radius:4px}.tooltip-arrow{position:absolute;width:0;height:0;border-color:transparent;border-style:solid}.tooltip.top .tooltip-arrow{bottom:0;left:50%;margin-left:-5px;border-width:5px 5px 0;border-top-color:#000}.tooltip.top-left .tooltip-arrow{right:5px;bottom:0;margin-bottom:-5px;border-width:5px 5px 0;border-top-color:#000}.tooltip.top-right .tooltip-arrow{bottom:0;left:5px;margin-bottom:-5px;border-width:5px 5px 0;border-top-color:#000}.tooltip.right .tooltip-arrow{top:50%;left:0;margin-top:-5px;border-width:5px 5px 5px 0;border-right-color:#000}.tooltip.left .tooltip-arrow{top:50%;right:0;margin-top:-5px;border-width:5px 0 5px 5px;border-left-color:#000}.tooltip.bottom .tooltip-arrow{top:0;left:50%;margin-left:-5px;border-width:0 5px 5px;border-bottom-color:#000}.tooltip.bottom-left .tooltip-arrow{top:0;right:5px;margin-top:-5px;border-width:0 5px 5px;border-bottom-color:#000}.tooltip.bottom-right .tooltip-arrow{top:0;left:5px;margin-top:-5px;border-width:0 5px 5px;border-bottom-color:#000}*/
  #poplic-modal3 .popup-lic-header {
	  min-height: 1px;
	  padding: 24px 35px 10px 256px;
	  text-align: center;
	  background: url(//cdn.alternativemedia.com.au/articleimagehosting/hic/hic-xsell-modal-headline-bg.jpg) no-repeat 0 0
  }
  #poplic-modal3 .popup-lic-header .uppercase {
	  font-family: 'Proxima Nova Bold';
	  font-weight: normal;
	  color: #71bd57;
  }
  #poplic-modal3 .popup-lic-header h1 {
	  margin: 0 0 20px;
	  text-align: center;
	  font-size: 22px;
  }
  #poplic-modal3 .popup-lic-header p {
	  font-size: 17px;
	  max-width: 100%;
	  margin-bottom: 15px;
  }
  #poplic-modal3 .popup-lic-header strong {
	  color: #71bd57;
  }
  #poplic-modal3 .popup-lic-header .popup-lic-btn {
	  display: inline-block;
	  max-width: 100%;
	  text-transform: none;
	  font-size: 16px;
  }
  
  /*responsive*/
  @media (min-width: 768px) {
	  #poplic-modal1, #poplic-modal3 {
		  width: 654px;
		  margin-left: -327px
	  }
  }
  
  @media (max-width: 767px) {
	  #poplic-modal1 .popup-lic-header {
		  padding: 20px 15px 50px 220px;
		  overflow: hidden;
	  }
	  #poplic-modal1 .popup-lic-header p {
		  font-size: 14px;
	  }
	  #poplic-modal1 .popup-lic-header h1 {
		  font-size: 28px;
		  width: 250px;
		  margin: 0 auto 15px;
	  }
	  #poplic-modal1 .popup-lic-header img {
		  display: block;
		  top: auto;
		  bottom: 0;
		  left: -20px
	  }
	  #poplic-modal1 .popup-lic-body {
		  position: relative;
		  margin-top: -30px;
		  padding: 0 20px 20px;
	  }
	  #poplic-modal3 .popup-lic-header {
		  padding: 25px 30px;
		  background: none
	  }
	  .popup-lic {
		  max-width: 100%;
		  width: auto;
		  left: 15px;
		  right: 15px;
		  margin-left: auto;
		  margin-right: auto;
	  }
	  .pop-column.full-width input {
		  max-width: 80%;
	  }
	  .popup-lic-fld {
		  width: 100%;
	  }
	  .popup-lic-badge {
		  position: relative;
		  top: -10px;
		  left: auto;
	  }
  }
  
  @media (max-width: 479px) {
	  #poplic-modal1 .popup-lic-header {
		  padding: 20px 15px 220px 15px
	  }
	  #poplic-modal1 .popup-lic-header img {
		  left: -10px
	  }
	  .popup-lic-badge {
		  position: absolute;
		  top: -180px;
		  left: auto;
		  right: 10px;
	  }
	  #poplic-modal1 .popup-lic-body {
		  text-align: center;
		  padding: 20px 20px 10px;
		  margin-top: 0;
	  }
	  .popup-lic-btn.popup-lic-btn-grey, .popup-lic-btn {
		  padding: 15px 30px;
	  }
  }
  
  @media (max-width: 700px) {
	  .popup-lic-header img {
		  display: none;
	  }
	  .popup-lic-header {
		  padding: 30px 20px;
		  min-height: 1px;
	  }
  }
  @media (max-width: 600px) {
	  .pop-column.half-width, .pop-column.full-width input {
		  width: 100%;
		  max-width: 100%;
	  }
	  .text-right, .text-left {
		  text-align: center;
	  }
	  .popup-lic-header h1 {
		  font-size: 30px;
	  }
	  .popup-lic-header p {
		  font-size: 16px;
	  }
	  .popup-lic.active {
		  top: 30px;
	  }
  }
  @media (max-width: 400px) {
	  #poplic-modal1 .popup-lic-body {
		  padding-top: 0;
		  margin-top:-30px;
	  }
	  .pop-column.full-width input {
		  font-size: 18px;
	  }
	  .popup-lic-badge {
		  position: relative;
		  top: -10px;
		  left: auto;
		  right: auto;
	  }
  }
  
  
  .popup-banner {
	  margin: 0 0 30px;
	  cursor: pointer;
  }
  
  .combo-styled select{
	  font-size: 16px !important;
  }
  .popup-lic-btn:hover {
	  color: white;
  }
  #popup-lic-submit2.active-loading span {
	  display: none;
	  cursor: not-allowed;
  }
  #popup-lic-submit2.active-loading:before,
  #popup-lic-submit2.active-loading:after {
	  display: inline-block;
	  position: relative;
  }
  #popup-lic-submit2.active-loading:before {
	  content: 'Loading...';
	  -webkit-transition: 1s all;
	  transition: 1s all;
	  -webkit-animation: fading 1s linear infinite alternate forwards;
			  animation: fading 1s linear infinite alternate forwards;
  }
  @-webkit-keyframes fading {
	  from {opacity: .3}
	  to {opacity: 1;}
  }
  @keyframes fading {
	  from {opacity: .3}
	  to {opacity: 1;}
  }
  
  /*== reskin ==*/
  
  .radio-styled {
	  display: -webkit-box;
	  display: -moz-box;
	  display: -webkit-flex;
	  display: -ms-flexbox;
	  display: box;
	  display: flex;
	  width: 100%;
	  -webkit-box-align: center;
	  -moz-box-align: center;
	  -o-box-align: center;
	  -ms-flex-align: center;
	  -webkit-align-items: center;
	  align-items: center;
	  position: relative;
	  font-weight: 400;
	  font-size: 14px;
	  margin: 0 0 20px;
	  cursor: pointer;
  }
   
  
  .check-styled {
	  display: -webkit-box;
	  display: -moz-box;
	  display: -webkit-flex;
	  display: -ms-flexbox;
	  display: box;
	  display: flex;
	  -webkit-box-align: center;
	  -moz-box-align: center;
	  -o-box-align: center;
	  -ms-flex-align: center;
	  -webkit-align-items: center;
	  align-items: center;
	  width: 100%;
	  position: relative;
	  cursor: pointer;
	  margin: 0;
  }
  
  .check-styled input {
	  position: absolute;
	  top: 0;
	  left: 0;
	  width: 0;
	  height: 0;
	  opacity: 0;
	  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	  filter: alpha(opacity=0);
	  visibility: 0;
  }
  
  .check-styled .check-icon {
	  width: 14px;
	  height: 14px;
	  position: absolute;
	  border-radius: 4px;
	  border: 1px solid #b9b9b9;
	  padding: 0;
	  left: 3px;
	  top: 49%;
	  margin: -7px 0 0;
  }
  
  .check-styled input:checked + .check-icon {
	  background: #38AC70 url('../img/check-white-ico.png') no-repeat center;
	  border-color: #38AC70;
	  background-size: 10px;
	  background-repeat: no-repeat;
  } 
  
  .check-styled span {
	  display: block;
	  font-size: 12px;
	  font-weight: normal;
	  padding: 6px 0 6px 28px;
	  width: 100%;
	  line-height: 1.5;
	  -webkit-transition: all 0.5s ease-in-out;
	  -moz-transition: all 0.5s ease-in-out;
	  -o-transition: all 0.5s ease-in-out;
	  -ms-transition: all 0.5s ease-in-out;
	  transition: all 0.5s ease-in-out;
	  border-bottom: 1px solid transparent;
  }
  
  .check-styled input:checked+.check-icon+span{
	  font-weight: 600;
  }
  
  
  .result-intro {
	  font-size: 36px;
	  color: #000;
	  line-height: 1.3;
	  margin: 0 0 30px;
	  padding: 0 0 30px;
	  border-bottom: 2px solid #38AC70;
	  font-weight: 400;
  }
  
  .results-section h2 {
	  font-size: 24px;
	  font-family: Gotham,sans-serif;
  }
  
  .results-section h2, .results-section h3 {
	  font-weight: 700;
	  margin: 0 0 15px;
  }
  
  .policy-count {
	  color: #ff8e26;
  }
  
  .policies-table-wrapper {
	  position: relative;
		  border: 1px solid rgba(0,0,0,.125);
	  -webkit-box-shadow: 0 0 5px 0 rgba(0,0,0,.09);
	  box-shadow: 0 0 5px 0 rgba(0,0,0,.09);
	  margin-bottom: 35px;
  }
  
  .policies-table-wrapper table {
	  width: 100%;
  }
  
  .policies-table-wrapper th:first-child {
	 
  }
  
  .policies-table-wrapper th {
	  background: #3ea9b9;
	  font-size: 12px;
	  color: #fff;
	  line-height: 1;
	  text-transform: uppercase;
	  background: #38AC70;
  }
  
  .policies-table-wrapper td, .policies-table-wrapper th {
	  vertical-align: middle;
	  padding: 20px 10px;
	  text-align: center;
	  font-weight: 600;
	  font-size: 14px;
  }
  
  .policies-table-wrapper td{
	  font-weight: 400;
  }
  
  
  .cost-per-label{
	  font-size: 59%;
	  font-weight: 600;
  }
  
  .policies-table-wrapper td img, .policies-table-wrapper th img {
	  height: auto;
	  width: 130px;
	  max-width: 100%;
  }
  
  .policies-table-wrapper tr td {
	  background: #fff;
  }
  
  .policies-table-wrapper tr:nth-child(even) td {
	  background: #f8f8f8;
  }
  
  .col-3-flexi {
	  display: -webkit-box;
	  display: -moz-box;
	  display: -webkit-flex;
	  display: -ms-flexbox;
	  display: box;
	  display: flex;
	  -webkit-box-pack: justify;
	  -moz-box-pack: justify;
	  -o-box-pack: justify;
	  -ms-flex-pack: justify;
	  -webkit-justify-content: space-between;
	  justify-content: space-between;
	  -webkit-box-align: center;
	  -moz-box-align: center;
	  -o-box-align: center;
	  -ms-flex-align: center;
	  -webkit-align-items: center;
	  align-items: center;
	  margin: 0 0 30px;
  }
  
  .col-3-flexi .radio-styled {
	  margin: 0;
	  width: auto;
  }
  
  .form-sections {
	  padding: 29px 19px;
	  border-bottom: 1px solid #E5E5E5;
  }
  
  .radio-styled {
	  display: -webkit-box !important;
	  display: -moz-box !important;
	  display: -webkit-flex !important;
	  display: -ms-flexbox !important;
	  display: box !important;
	  display: flex !important;
	  width: 100%;
	  -webkit-box-align: center;
	  -moz-box-align: center;
	  -o-box-align: center;
	  -ms-flex-align: center;
	  -webkit-align-items: center;
	  align-items: center;
	  position: relative;
	  font-weight: 400;
	  font-size: 14px;
	  margin: 0 0 20px;
	  cursor: pointer;
  }
  
  .radio-styled input {
	  position: absolute;
	  top: 0;
	  left: 0;
	  width: 0;
	  height: 0;
	  opacity: 0;
	  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	  filter: alpha(opacity=0);
	  visibility: 0;
  }
  
  .radio-styled .radio-icon {
	  width: 22px;
	  height: 22px;
	  border-radius: 500px;
	  background: #E9E9E9;
	  margin: 0 10px 0 0;
	  position: relative;
  }
  
  .radio-styled span {
	  display: block;
	  line-height: 1;
	  color: #7a8d9d;
	  -webkit-transition: all 0.5s ease-in-out;
	  -moz-transition: all 0.5s ease-in-out;
	  -o-transition: all 0.5s ease-in-out;
	  -ms-transition: all 0.5s ease-in-out;
	  transition: all 0.5s ease-in-out;
  }
  
  .radio-styled input + .radio-icon + span {
	  color: #212121;
	  font-weight: 400;
  }
  
  .radio-styled input:checked + .radio-icon:after {
	  opacity: 1;
	  -ms-filter: none;
	  filter: none;
  }
  
  .radio-styled .radio-icon:after {
	  content: '';
	  position: absolute;
	  display: block;
	  top: 37%;
	  left: 36%;
	  width: 12px;
	  height: 12px;
	  background: #38AC70;
	  border-radius: 500px;
	  margin: -3px 0 0 -3px;
	  opacity: 0;
	  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	  filter: alpha(opacity=0);
	  -webkit-transition: all 0.3s ease-in-out;
	  -moz-transition: all 0.3s ease-in-out;
	  -o-transition: all 0.3s ease-in-out;
	  -ms-transition: all 0.3s ease-in-out;
	  transition: all 0.3s ease-in-out;
  }
  
  .refine-card-body{
	  padding: 0;	
  }
  
  .the-rebate{
	  font-size: 14px;
	  span{
		  font-weight: 600;
		  color: #EE662F;
	  }
	  a{
		  color: #828282;
		  text-decoration: underline;
	  }
  }
  
  #cover-options-aside .card-header h5 button.collapsed:before {
	  top: -7.5px;
	  border-top: 0;
	  border-left: 0;
	  border-right: 2px solid #38AC70;
	  border-bottom: 2px solid #38AC70;
  }
  
  #cover-options-aside .card-header h5 button:before {
	  content: "";
	  width: 8px;
	  height: 8px;
	  border-left: 2px solid #38AC70;
	  border-top: 2px solid #38AC70;
	  -webkit-transform: rotate(45deg);
	  transform: rotate(45deg);
	  position: absolute;
	  top: 7.5px;
	  bottom: 0;
	  right: 0;
	  margin: auto 0;
  }
  
  #cover-options-aside .btn{
	  padding: 0;
	  color: #000;
	  &:hover,
	  &:focus{
		  text-decoration: none;
	  }
  }
  
  #cover-options-aside .card{
	  border: none;
	  margin-bottom: 15px;
  }
  
  #cover-options-aside .card-header{
	  background: #fff;
	  border: none;
	  padding: 0;
  }
  
  #cover-options-aside .card-body{
	  padding: 0;
	  padding-top: 15px;
  }
  
  .btn-primary-full{
	  width: 100%;
	  letter-spacing: 2px;
	  padding: 13px 35px !important;
  }
  
  .ls-0{ 
	  letter-spacing: 0 !important;
  }
  
  .panel-price{
	  border: 1px solid rgba(0,0,0,.125);
	  -webkit-box-shadow: 0 0 5px 0 rgba(0,0,0,.09);
	  box-shadow: 0 0 5px 0 rgba(0,0,0,.09);
	  margin-bottom: 30px;
	  .panel-heading{
		  background: #38AC70;
		  text-align: center;
		  padding: 15px;
		  h5{
			  font-size: 12px;
			  color: #fff;
			  letter-spacing: 2px;
			  font-weight: 600;
			  text-transform: uppercase;
			  margin-bottom: 0;
		  }
	  }
	  .panel-body{
		  background: #fff;
	  }
	  .pricing{
		  text-align: center;
		  h2{
			  font-weight: 400;
			  font-size: 50px;
			  margin-bottom: 0;
			  sup{
				  top: -.8em;
				  font-size: 47%;
				  padding: 0 5px;
			  }
		  }
	  }
	  .product{
		  background: #F7F7F7;
		  h6{
			  font-weight: 600;
			  font-size: 15px;
			  margin-bottom: 0;
		  }
	  }
	  h6{
		  font-weight: 600;
	  }
	  .cc-list{
		  margin: 15px 0;
		  border-bottom: 1px solid #F0F0F0;
		  padding-bottom: 15px;
		  li{
			  top: 4px;
			  line-height: 1.8;
			  font-weight: 400;
			  font-size: 13px;
			  font-family: Gotham,sans-serif !important;
			  margin: 15px;
			  &:before{
				  top: 4px;
			  }
		  }
	  }
	  .btn{
		  font-size: 16px;
	  }
  }
   
  .quotes-form{
	  border: 1px solid rgba(0,0,0,.125);
	  -webkit-box-shadow: 0 0 5px 0 rgba(0,0,0,.09);
	  box-shadow: 0 0 5px 0 rgba(0,0,0,.09);
	  background: #fff;
	  margin-bottom: 25px;
	  .quotes-heading{
		  background: #38ac70;
		  padding: 15px 18px;
		  h2{
			  font-size: 18px;
			  color: #fff;
				 font-weight: 600;
			  margin-bottom: 0;
		  }
	  }
	  h5{
		  font-weight: 600;
		  font-size: 14px;
		  line-height: 1.8;
	  }
  
	  .text-area{
		  background: #FCFCFC;
		  border: 1px solid #EFEFEF;
		  font-size: 14px;
	  }
	  &.quotes-form-alt{
		  border: none;
		  box-shadow: none;
		  .quotes-heading{
			  background: #3E3E3E;
			  h2{
				  font-size: 12px !important;
				  text-align: center;
				  letter-spacing: 2px;
			  }
		  }
		  h5{
			  font-size: 12px;
			  letter-spacing: 1px;
			  text-transform: uppercase;
		  }
		  .cc-list{
			  margin: 15px 0;
		  }
	  }
  }
  
  .cc-list-alt{
	  h6{
		  font-size: 14px;
	  }
	  p{
		  font-family: Gotham,sans-serif;
		  font-size: 12px;
		  line-height: 1.9;
	  }
  }
  
  
  .column-check{
	   -webkit-column-count: 3;
	  -moz-column-count: 3;
	  column-count: 3;
	  -webkit-column-gap: 0px;
	  -moz-column-gap: 0px;
	  column-gap: 0px;
	  position: relative;
	  margin-bottom: 15px;
	  margin-top: 15px;
	  .check-styled{
		  overflow: auto;
		  max-height: 4000px;
	  }
	  @media(max-width: 767px){
			 -webkit-column-count: 1;
		  -moz-column-count: 1;
		  column-count: 1;
	  }
  }
  
  .inner-q-form{
	  padding: 30px;
	  border-bottom: 1px solid #E5E5E5;
	  @media(max-width: 480px){
		  padding: 15px;
	  }	
  }
  
  .inner-c-form{
	  border-bottom: 1px solid #F0F0F0;
	  padding-bottom: 30px;
	  margin-bottom: 40px;	 
	  &:last-child{
		  border: none;
		  margin-bottom: 0;
	  }
  }
  
  
  .inner-q-item{
	  border-bottom: 1px solid #F0F0F0;
	  margin-bottom: 30px;
	  padding-bottom: 10px;
	  &:last-child{
		  border-bottom: none;
		  margin: 0;
		  padding: 0;
	  }
  }
  
  .results-section h3{
	  font-size: 20px;
	  font-family: Gotham,sans-serif;
  }
  
  .btn-sm-dark{
	  background: #626262;
	  color: #fff !important;
  }
  
  .cover {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
  }
  
  .interested{
	  padding: 30px;
	  margin-bottom: 35px;
	  h2{
		  font-size: 33px;
		  line-height: 1.4;
		  margin-bottom: 5px;
	  }
	  h4{
		  font-size: 14px;
		  font-weight: 600;
		  text-transform: uppercase;
		  margin-top: 10px;
	  }
  }
  
  .button-click{
	  padding-top: 16px;
	  padding-left: 50px;
	  @media(max-width: 1024px){
		  padding-left: 0;
	  }
  }
  
  .modal-fc {
	  .modal-content{
		  overflow: hidden;
		  border-color: transparent;
	  }
	  .modal-header-wrapp{
		   background: #38AC70 url('../img/logo_hic_modal.png') no-repeat 0 0;
		  -webkit-background-size: 140px;
		  -moz-background-size: 140px;
		  background-size: 140px 140px;
		  text-align: center;
		  padding: 30px;
		  p{
			  margin-bottom: 0;
			  font-size: 13px;
			  color: #fff;
			  line-height: 1.7;
		  }
	  }
	  .modal-header{
		  border: none;
		  padding: 0;
		  text-align: center;
		  .modal-title{
			  margin-left: auto;
			  margin-right: auto;
			  margin-bottom: 13px;
			  font-weight: 600;
			  color: #fff;
			  font-size: 22px;
		  }
		  .close{
			  position: absolute;
			  right: 16px;
			  top: 7px;
			  color: #ffffffc7;
			  text-shadow: none;
			  &:hover,
			  &:focus{
				  color: #fff;
			  }
		  }
	  }
  
	  .modal-body{
		  padding: 2rem 2.2rem 3rem;
		  @media(max-width: 767px){
			  padding: 2rem 1rem;
		  }
	  }
	  .form-group{
		  position: relative;
		  &:after{
			  content: '';
			  position: absolute;
			  background: #E4E4E4;
			  height: 20px;
			  width: 1px;
			  left: 41px;
			  top: 10px;
		  }
		  
		  .form-control{
			  padding: .375rem .75rem .375rem 3.2rem;
			  height: calc(2.25rem + 6px);
			  border-radius: 0;
			  border: 2px solid #D7D7D7;
			  font-size: 0.9rem;
			  &:focus{
				  border-color: #38AC70;
				  box-shadow: none;
			  }
			  
  
		  }
  
		  &.name{
			  &:before{
				  content: '';
				  position: absolute;
				  top: 12px;
				  left: 16px;
				  width: 16px;
				  height: 16px;
				  background: transparent url(../img/name-ico.png) no-repeat;
				  background-size: 16px 15.36px;
			  }
		  }
		  &.phone-number{
			  &:before{
				  content: '';
				  position: absolute;
				  top: 12px;
				  left: 14px;
				  width: 18px;
				  height: 18px;
				  background: transparent url(../img/phone-number-ico.png) no-repeat;
				  background-size: 18px 18px;
			  }
		  }
		  &.email-address{
			  &:before{
				  content: '';
				  position: absolute;
				  top: 14px;
				  left: 14px;
				  width: 18px;
				  height: 13.72px;
				  background: transparent url(../img/email-address-ico.png) no-repeat;
				  background-size: 18px 13.72px;
			  }
		  }
		  input[type="text"]::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
			  color: black !important;
			  opacity: 1 !important; /* Firefox */
		  }
  
		  input[type="text"]:-ms-input-placeholder { /* Internet Explorer 10-11 */
			  color: black !important;
		  }
  
		  input[type="text"]::-ms-input-placeholder { /* Microsoft Edge */
			  color: black !important;
		  }
  
	  }
  }
  
  .list-pq{
	  padding: 0;
	  list-style: none;
	  margin-top: 25px;
	  border-bottom: 1px solid #EDEDED;
	  padding-bottom: 20px;
	  color: #565656;
	  li{
		  font-size: 13px;
		  padding-left: 40px;
		  position: relative;
		  line-height: 1.6;
		  margin-bottom: 12px;
		  &.policy{
			  &:before{
				  content: "";
				  width: 20px;
				  height: 20px;
				  background: url(../img/policy-ico.png) no-repeat center center;
				  background-size: 16px 19px;
				  position: absolute;
				  top: 4px;
				  left: 11px;
			  }
		  }
		  &.questions{
			  &:before{
				  content: "";
				  width: 20px;
				  height: 20px;
				  background: url(../img/question-ico.png) no-repeat center center;
				  background-size: 17px 15px;
				  position: absolute;
				  top: 2px;
				  left: 11px;
			  }
		  }
	  }
  }
  
  .footer-content{
	  text-align: center;
	  p{
		  font-size: 12px;
		  img{
			  position: relative;
			  top: -1px;
			  margin-right: 4px;
		  }
	  }
	  .btn{
		  @media(min-width: 768px){
			  font-size: 18px; 
		  }
	  }
  }
  
  .intro-table {
	  border: 1px solid #E5E5E5;
	  margin-bottom: 20px;
	  position: relative;
	  background: #fff;
	  border-bottom: 3px solid #38AC70;
	  &:before{
		  content: "";
		  width: 105px;
		  height: 114px;
		  background: url(../img/special-offers.png) no-repeat center center;
		  background-size: 105px 114px;
		  position: absolute;
		  top: -10px;
		  right: 11px;
	  }
	  .intro-table-item{
		  border: none;
		  text-align: center;
		  &:first-child{
			  border-right: 1px solid #E5E5E5;
			  @media(max-width: 767px){
				  .inner{	
					  border-bottom: 1px solid #E5E5E5;
					  padding: 98px 20px 40px;
				  }
			  }
		  }
		  &:nth-child(2){
			  border-right: 1px solid #E5E5E5;
			  @media(max-width: 767px){
				  .inner{	
					  border-bottom: 1px solid #E5E5E5;
				  }
			  }
		  }
		  &:last-child{
			  border-left: 1px solid #E5E5E5;
			  text-align: left;
			  @media(max-width: 767px){
				  .inner{		
					  border-top: 1px solid #E5E5E5;
					  text-align: center;
				  }
			  }
			  @media(min-width: 767px) and (max-width: 1024px){
				  .inner{		
					  padding-right: 39%;
				  }
			  }
  
		  }
		  .inner{
			  padding: 33px 20px;
			  &.intro-table-item-center{
				  position: relative;
				  top: 20%;
				  @media(min-width: 767px) and (max-width: 1024px){
					  top: 8%;
				  }
				  @media(max-width: 767px){
					  top: 0;
				  }
			  }
			  h2{
				  font-weight: 400;
				  font-size: 50px;
				  margin-bottom: 0;
				  color: #38AC70;
				  sup{
					  top: -.8em;
					  font-size: 47%;
					  padding: 0 5px;
				  }
			  }
			  p{
				  margin-bottom: 0;
				  font-weight: 600;
			  }
			  h5{
				  font-weight: 400;
				  font-size: 18px;
				  line-height: 1.7;
			  }
			  
		  }
		  
	  }
  }
  
  .q-mark{
	  li{
		  font-family: Gotham,sans-serif;
		  font-weight: 400;
		  font-size: 14px;
		  margin: 8px 20px;
		  line-height: 1.8;
		  span{
			  display: inline-block;
			  position: relative;
			  
			  
		  }
		  &:before{
			  top: 4px;
		  }
		  img{
			  position: relative;
			  top: 0;
			  
		  }
	  }
	  &.list-inline{
		  li{
			  display: inline-block;
		  }
	  }
  }
  
  
  
  .q-mark li img:hover{
	  opacity: 0;
  }
  
  .wrapp-img{
	  display: inline-block;
	  position: relative;
	  &:before{
		  content: "";
		  width: 14px;
		  height: 14px;
		  background: url(../img/question-mark-ico-black.png) no-repeat center center;
		  background-size: 14px 14px;
		  position: absolute;
		  bottom: 4px;
		  right: 0;
		  visibility: hidden;
		  
	  }
  }
  
  .wrapp-img:hover:before{
	  visibility: visible;
  }
  
  
  
  li{
	  &.uncheck-list{
		  &:before{
			  content: "";
			  width: 18px;
			  height: 18px;
			  background: url(../img/uncheck.svg) no-repeat center center;
			  background-size: 100% 100%;
			  position: absolute;
			  top: 4px;
			  left: -13px;
		  }
	  }
	  &.r-list{
		  &:before{
			  content: "";
			  width: 18px;
			  height: 18px;
			  background: url(../img/R-ico.svg) no-repeat center center;
			  background-size: 100% 100%;
			  position: absolute;
			  top: 4px;
			  left: -13px;
		  }
	  }
  }
  
  
  .two-col{
	  @media(min-width: 768px){
		  -webkit-column-count: 2;
		  -moz-column-count: 2;
		  column-count: 2;
		  -webkit-column-gap: 0px;
		  -moz-column-gap: 0px;
		  column-gap: 0px;
		  position: relative;
	  }
	  li{
		  @media(min-width: 768px){
			  display: inline-block;
			  width: 100%;
		  }
	  }
  }
  
  .period-accordion{
	  .card-header{	
		  padding: 0;
	  }
	  .card-body{
		  padding-top: 20px !important;
	  }
  }
  
  .period-accordion .card .card-header button{
	  background: #19984A;
	  color:  #fff!important ;
	  padding: 15px 20px !important;
	  white-space: normal;
	  @media(max-width: 767px){
		  padding-right: 13% !important;
		  line-height: 1.5;
	  }
  }
  
  .period-accordion .card .card-header button.collapsed{
	  background: #fff;
	  color:  #000 !important
  }
  
  
  .period-accordion .card .card-header button.collapsed:before {
	  content: "";
	  display: block;
	  width: 10px;
	  height: 10px;
	  position: absolute;
	  right: 19px !important;
	  top: 7.5px;
	  bottom: 7px;
	  margin: auto 0;
	  border-top: 1px solid #000 !important;
	  border-right: 1px solid #000 !important;
	  -webkit-transform: rotate(135deg) !important;
	  transform: rotate(135deg) !important;
  
  }
  
  .period-accordion .card .card-header button:before {
	  content: "";
	  display: block;
	  width: 10px;
	  height: 10px;
	  position: absolute;
	  right: 19px !important;
	  top: 7.5px;
	  bottom: 7px;
	  margin: auto 0;
	  border-top: 1px solid #fff !important;
	  border-right: 1px solid #fff !important;
		  -webkit-transform: rotate(-45deg) !important;
	  transform: rotate(-45deg) !important;
	  backface-visibility: hidden;
	  -webkit-backface-visibility: hidden;
  }
  
  .period-accordion .card-body{
	  font-size: 14px;
  }
  
  .apply-area{
	  border-bottom: 1px solid #E9E9E9;
	  margin-bottom: 30px;
	  .inner{
		  max-width: 350px;
		  margin: 40px auto 30px;
		  .check-styled .check-icon{
			  top: 16px;
		  }
		  .check-styled input:checked+.check-icon+span{
			  font-weight: 400;
		  }
	  }
  }
  
  .box-white{
	  margin-top: 35px;
	  padding: 30px;
	  background: #fff;
	  p{
		  margin-bottom: 0;
		  font-size: 14px;
	  }	
	  a{
		  word-break: break-all;
	  }
  }
  
  .q-aside{
	  background: #fff;
	  border: 1px solid rgba(0,0,0,.125);
	  -webkit-box-shadow: 0 0 5px 0 rgba(0,0,0,.09);
	  box-shadow: 0 0 5px 0 rgba(0,0,0,.09);
	  margin-bottom: 40px;
	  h5{
		  color: #38ac70;
		  font-weight: 600;
		  font-size: 11px;
		  text-transform: uppercase;
		  margin-bottom: 18px;
		  margin-bottom: 5px;
		  margin-bottom: 10px;
	  }
	  p{
		  font-size: 13px;
		  line-height: 1.9;
		  &:last-child{
			  margin-bottom: 0;
		  }
	  }
  }
  
  .intro-download{
	  font-size: 12px;
	  color: rgba(0, 0, 0, 0.37);
	  font-weight: 600;
	  text-align: center;
  }
  
  .product-id{
	  font-weight: 600;
	  color: #000;
	  text-align: center;
	  margin-top: 15px;
  }
  
  .btn-green{
	  background: #19984A;
	  color: #fff;
	  &:hover{
		  background: #137137;
		  color: #fff;
	  }
  }
  
  .form-sections-policy{
	  .btn{
		  img{
			  margin-right: .5rem;
			  position: relative;
			  top: -2px;
		  }
	  }
  }
  
  .title-q-form{
	  font-weight: 600;
	  font-size: 20px;
  }
  
  
  
  
  /*
	  Common 
  */
  
  .wizard,
  .tabcontrol
  {
	  display: block;
	  width: 100%;
	  overflow: hidden;
  }
  
  .wizard a,
  .tabcontrol a
  {
	  outline: 0;
  }
  
  .wizard ul,
  .tabcontrol ul
  {
	  list-style: none !important;
	  padding: 0;
	  margin: 0;
  }
  
  .wizard ul > li,
  .tabcontrol ul > li
  {
	  display: block;
	  padding: 0;
	  &:first-child{
		  a{	
			  border-left: none;
			  background: #626262;
		  }
	  }
	  &:last-child{
		  a{	
			  border-right: none;
		  }
	  }
  }
  
  /* Accessibility */
  .wizard > .steps .current-info,
  .tabcontrol > .steps .current-info
  {
	  position: absolute;
	  left: -999em;
  }
  
  .wizard > .content > .title,
  .tabcontrol > .content > .title
  {
	  position: absolute;
	  left: -999em;
  }
  
  
  
  /*
	  Wizard
  */
  
  .wizard > .steps
  {
	  position: relative;
	  display: block;
	  width: 100%;
  }
  
  .wizard.vertical > .steps
  {
	  display: inline;
	  float: left;
	  width: 30%;
  }
  
  .wizard > .steps .number
  {
	  font-size: 1.429em;
  }
  
  .wizard > .steps > ul > li
  {
	  width: 25%;
  }
  
  .wizard > .steps > ul > li,
  .wizard > .actions > ul > li
  {
	  float: left;
  }
  
  .wizard.vertical > .steps > ul > li
  {
	  float: none;
	  width: 100%;
  }
  
  
  .wizard > .steps a{
	  text-transform: uppercase;
	  text-align: center;
	  font-size: 12px;
	  letter-spacing: 1px;
	  @media(max-width: 992px){
		  font-size: 11px;
	  }
  }
  
  
  .wizard > .steps .disabled a,
  .wizard > .steps .disabled a:hover,
  .wizard > .steps .disabled a:active
  {
	  background: #FAFAFA;
	  color: #A8A8A8;
	  cursor: default;
	  border-top: 2px solid transparent;
  }
  
  .wizard > .steps .current a,
  .wizard > .steps .current a:hover,
  .wizard > .steps .current a:active
  {
	  background: #fff;
	  color: #38AC70;
	  cursor: default;
	  border-top: 2px solid;
	  border-bottom-color: transparent;
	  font-weight: 600;
  }
  
  .wizard > .steps .done a,
  .wizard > .steps .done a:hover,
  .wizard > .steps .done a:active
  {
	  background: #FAFAFA;
	  color: #A8A8A8;
  }
  
  .wizard > .steps .error a,
  .wizard > .steps .error a:hover,
  .wizard > .steps .error a:active
  {
	  background: #ff3111;
	  color: #fff;
  }
  
  .wizard > .content
  {
	  background: #fff;
	  display: block;
	  margin: 0.5em;
	  min-height: 35em;
	  overflow: hidden;
	  position: relative;
	  width: auto;
  
	  -webkit-border-radius: 5px;
	  -moz-border-radius: 5px;
	  border-radius: 5px;
  }
  
  .wizard.vertical > .content
  {
	  display: inline;
	  float: left;
	  margin: 0 2.5% 0.5em 2.5%;
	  width: 65%;
  }
  
  .wizard > .content > .body
  {
	  float: left;
	  position: relative;
	  width: 100%;
	  height: 95%;
	  padding: 0 3.5%;
  }
  
  .wizard > .content > .body ul
  {
	  list-style: disc !important;
  }
  
  .wizard > .content > .body ul > li
  {
	  display: list-item;
  }
  
  .wizard > .content > .body > iframe
  {
	  border: 0 none;
	  width: 100%;
	  height: 100%;
  }
  
  .wizard > .content > .body input
  {
	  display: block;
	  border: 1px solid #ccc;
  }
  
  .wizard > .content > .body input[type="checkbox"]
  {
	  display: inline-block;
  }
  
  
  .wizard > .content > .body label
  {
	  display: inline-block;
	  margin-bottom: 0.5em;
	  font-weight: 600;
	  font-size: 14px;
	  margin-bottom: 0;
	  line-height: 2.1;
  }
  
  .wizard > .content > .body label.error
  {
	  color: #fff !important;
	  display: inline-block;
	  margin-left: 0 !important;
	  position: absolute;
	  z-index: 99;
	  background: #2b2b2b;
	  font-size: 12px;
	  padding: 0 6px;
	  border-radius: 3px;
	  min-width: 140px;
	  &:before{
		  content: '\f0d8'; 
			font-family: 'FontAwesome';
			position: absolute;
		  top: -17px;
		  font-size: 15px;
		  color: #2b2b2b;
	  }
  }
  
  .wizard > .actions
  {
	  position: relative;
	  display: block;
	  text-align: right;
	  width: 100%;
  }
  
  .wizard.vertical > .actions
  {
	  display: inline;
	  float: right;
	  margin: 0 2.5%;
	  width: 95%;
  }
  
  .wizard > .actions > ul
  {
	  display: block;
	  
  }
  
  .wizard > .actions > ul > li
  {
	  margin: 0 0.5em;
  }
  
  .wizard.vertical > .actions > ul > li
  {
	  margin: 0 0 0 1em;
  }
  
  
  
  .wizard > .loading
  {
  }
  
  .wizard > .loading .spinner
  {
  }
  
  
  
  /*
	  Tabcontrol
  */
  
  .tabcontrol > .steps
  {
	  position: relative;
	  display: block;
	  width: 100%;
  }
  
  .tabcontrol > .steps > ul
  {
	  position: relative;
	  margin: 6px 0 0 0;
	  top: 1px;
	  z-index: 1;
  }
  
  .tabcontrol > .steps > ul > li
  {
	  float: left;
	  margin: 5px 2px 0 0;
	  padding: 1px;
  
	  -webkit-border-top-left-radius: 5px;
	  -webkit-border-top-right-radius: 5px;
	  -moz-border-radius-topleft: 5px;
	  -moz-border-radius-topright: 5px;
	  border-top-left-radius: 5px;
	  border-top-right-radius: 5px;
  }
  
  .tabcontrol > .steps > ul > li:hover
  {
	  background: #edecec;
	  border: 1px solid #bbb;
	  padding: 0;
  }
  
  .tabcontrol > .steps > ul > li.current
  {
	  background: #fff;
	  border: 1px solid #bbb;
	  border-bottom: 0 none;
	  padding: 0 0 1px 0;
	  margin-top: 0;
  }
  
  .tabcontrol > .steps > ul > li > a
  {
	  color: #5f5f5f;
	  display: inline-block;
	  border: 0 none;
	  margin: 0;
	  padding: 10px 30px;
	  text-decoration: none;
  }
  
  .tabcontrol > .steps > ul > li > a:hover
  {
	  text-decoration: none;
  }
  
  .tabcontrol > .steps > ul > li.current > a
  {
	  padding: 15px 30px 10px 30px;
  }
  
  .tabcontrol > .content
  {
	  position: relative;
	  display: inline-block;
	  width: 100%;
	  height: 35em;
	  overflow: hidden;
	  border-top: 1px solid #bbb;
	  padding-top: 20px;
  }
  
  .tabcontrol > .content > .body
  {
	  float: left;
	  position: absolute;
	  width: 95%;
	  height: 95%;
	  padding: 2.5%;
  }
  
  .tabcontrol > .content > .body ul
  {
	  list-style: disc !important;
  }
  
  .tabcontrol > .content > .body ul > li
  {
	  display: list-item;
  }
  
  
  
  
  
  
  
  
  
  /**
   * 1. Remove default vertical scrollbar in IE 6/7/8/9.
   * 2. Improve readability and alignment in all browsers.
   */
  
  /*
	  Common 
  */
  
  .wizard,
  .tabcontrol
  {
	  display: block;
	  width: 100%;
	  overflow: hidden;
  }
  
  .wizard a,
  .tabcontrol a
  {
	  outline: 0;
  }
  
  .wizard ul,
  .tabcontrol ul
  {
	  list-style: none !important;
	  padding: 0;
	  margin: 0;
  }
  
  .wizard ul > li,
  .tabcontrol ul > li
  {
	  display: block;
	  padding: 0;
  }
  
  /* Accessibility */
  .wizard > .steps .current-info,
  .tabcontrol > .steps .current-info
  {
	  position: absolute;
	  left: -999em;
  }
  
  .wizard > .content > .title,
  .tabcontrol > .content > .title
  {
	  position: absolute;
	  left: -999em;
  }
  
  
  
  /*
	  Wizard
  */
  
  .wizard > .steps
  {
	  position: relative;
	  display: block;
	  width: 100%;
  }
  
  .wizard.vertical > .steps
  {
	  display: inline;
	  float: left;
	  width: 30%;
  }
  
  .wizard > .steps .number
  {
	  font-size: 1.429em;
	  display: none;
  }
  
  .wizard > .steps > ul > li
  {
	  width: 25%;
  }
  
  .wizard > .steps > ul > li,
  .wizard > .actions > ul > li
  {
	  float: left;
  }
  
  .wizard.vertical > .steps > ul > li
  {
	  float: none;
	  width: 100%;
  }
  
  .wizard > .steps a,
  .wizard > .steps a:hover,
  .wizard > .steps a:active
  {
	  display: block;
	  width: auto;
	  margin: 0;
	  padding: 1em 1em;
	  text-decoration: none;
	  border: 1px solid #E5E5E5;
	  border-top-color: transparent;
	  border-left: none;
	  -webkit-border-radius: 0px;
	  -moz-border-radius: 0px;
	  border-radius: 0px;
  }
  
  
  
  .wizard > .steps .done a,
  .wizard > .steps .done a:hover,
  .wizard > .steps .done a:active
  {
	  background: #FAFAFA;
	  color: #A8A8A8;
  }
  
  .wizard > .steps .error a,
  .wizard > .steps .error a:hover,
  .wizard > .steps .error a:active
  {
	  background: #fff;
	  color: #38ac70;
  }
  
  
  
  .wizard.vertical > .content
  {
	  display: inline;
	  float: left;
	  margin: 0 2.5% 0.5em 2.5%;
	  width: 65%;
  }
  
  
  
  .wizard > .content > .body ul
  {
	  list-style: disc !important;
  }
  
  .wizard > .content > .body ul > li
  {
	  display: list-item;
  }
  
  .wizard > .content > .body > iframe
  {
	  border: 0 none;
	  width: 100%;
	  height: 100%;
  }
  
  .wizard > .content > .body input
  {
	  display: block;
	  border: 1px solid #ccc;
  }
  
  .wizard > .content > .body input[type="checkbox"]
  {
	  display: inline-block;
  }
  
  .wizard > .content > .body input.error,
  select.form-control.error
  {
	  background: #fff;
	  color: red;
	  border-color: red !important;
  }
  
  
  .wizard > .content > .body label.error
  {
	  color: #8a1f11;
	  display: inline-block;
	  margin-left: 1.5em;
  }
  
  .wizard > .actions
  {
	  position: relative;
	  display: block;
	  text-align: center;
	  width: 100%;
	  background: #FAFAFA;
	  padding: 30px 20px 20px;
  }
  
  .wizard.vertical > .actions
  {
	  display: inline;
	  float: right;
	  margin: 0 2.5%;
	  width: 95%;
  }
  
  
  
  .wizard > .actions > ul > li
  {
	  margin: 0 0.5em;
  }
  
  .wizard > .actions > ul > li:nth-child(2), .wizard > .actions > ul > li:nth-child(3){
	  float: right;
  }
  
  .wizard.vertical > .actions > ul > li
  {
	  margin: 0 0 0 1em;
	  margin-bottom: 2px;
  }
  
  .wizard > .actions a,
  .wizard > .actions a:hover,
  .wizard > .actions a:active
  {
	  background-color: #ee662f;
	  border-color: #ee662f;
	  color: #fff;
	  display: block;
	  padding: 0.5em 1em;
	  text-decoration: none;
	  padding: 0.4em 3rem;
	  font-weight: 600;
  }
  
  .wizard > .actions .disabled a,
  .wizard > .actions .disabled a:hover,
  .wizard > .actions .disabled a:active
  {
	  background: #eee;
	  color: #aaa;
	  padding: 0.4em 3rem;
  }
  
  
  /*
	  Tabcontrol
  */
  
  .tabcontrol > .steps
  {
	  position: relative;
	  display: block;
	  width: 100%;
  }
  
  .tabcontrol > .steps > ul
  {
	  position: relative;
	  margin: 6px 0 0 0;
	  top: 1px;
	  z-index: 1;
  }
  
  .tabcontrol > .steps > ul > li
  {
	  float: left;
	  margin: 5px 2px 0 0;
	  padding: 1px;
  
	  -webkit-border-top-left-radius: 5px;
	  -webkit-border-top-right-radius: 5px;
	  -moz-border-radius-topleft: 5px;
	  -moz-border-radius-topright: 5px;
	  border-top-left-radius: 5px;
	  border-top-right-radius: 5px;
  }
  
  .tabcontrol > .steps > ul > li:hover
  {
	  background: #edecec;
	  border: 1px solid #bbb;
	  padding: 0;
  }
  
  .tabcontrol > .steps > ul > li.current
  {
	  background: #fff;
	  border: 1px solid #bbb;
	  border-bottom: 0 none;
	  padding: 0 0 1px 0;
	  margin-top: 0;
  }
  
  .tabcontrol > .steps > ul > li > a
  {
	  color: #5f5f5f;
	  display: inline-block;
	  border: 0 none;
	  margin: 0;
	  padding: 10px 30px;
	  text-decoration: none;
  }
  
  .tabcontrol > .steps > ul > li > a:hover
  {
	  text-decoration: none;
  }
  
  .tabcontrol > .steps > ul > li.current > a
  {
	  padding: 15px 30px 10px 30px;
  }
  
  .tabcontrol > .content
  {
	  position: relative;
	  display: inline-block;
	  width: 100%;
	  height: 35em;
	  overflow: hidden;
	  border-top: 1px solid #bbb;
	  padding-top: 20px;
  }
  
  .tabcontrol > .content > .body
  {
	  float: left;
	  position: absolute;
	  width: 95%;
	  height: 95%;
	  padding: 2.5%;
  }
  
  .tabcontrol > .content > .body ul
  {
	  list-style: disc !important;
  }
  
  .tabcontrol > .content > .body ul > li
  {
	  display: list-item;
  }
  
  #contact input[type="text"],
  #contact input[type="email"],
  #contact input[type="tel"],
  #contact input[type="url"],
  #contact textarea,
  #contact button[type="submit"] {
	position:relative;
  }
  
  #contact {
	background: #fff;
	padding: 0;
	border: 1px solid rgba(0,0,0,.125);
	  h5{
		  font-size: 12px;
		  letter-spacing: 1px;
		  text-transform: uppercase;
		  font-weight: 600;
		  color: #38AC70;
	  }
	  select{
		  &.form-control{
			  @media(max-width: 767px){
				  margin-bottom: 15px;
			  }
		  }
	  }
	  p{
		  font-size: 13px;
	  }
  }
  
  #contact h3 {
	display: block;
	font-size: 30px;
	font-weight: 300;
	margin-bottom: 10px;
  }
  
  #contact h4 {
	margin: 5px 0 15px;
	display: block;
	font-size: 13px;
	font-weight: 400;
  }
  
  fieldset {
	border: medium none !important;
	margin: 0 0 10px;
	min-width: 100%;
	padding: 0;
	width: 100%;
  }
  
  
  #contact input[type="text"]:hover,
  #contact input[type="email"]:hover,
  #contact input[type="tel"]:hover,
  #contact input[type="url"]:hover,
  #contact textarea:hover {
	position:relative
  }
  
  #contact textarea {
	height: 100px;
	max-width: 100%;
	resize: none;
  }
  
  #contact button[type="submit"] {
	cursor: pointer;
	width: 100%;
	border: none;
	background: #4CAF50;
	color: #FFF;
	margin: 0 0 5px;
	padding: 10px;
	font-size: 15px;
  }
  
  #contact button[type="submit"]:hover {
	background: #43A047;
	-webkit-transition: background 0.3s ease-in-out;
	-moz-transition: background 0.3s ease-in-out;
	transition: background-color 0.3s ease-in-out;
  }
  
  #contact button[type="submit"]:active {
	box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
  }
  
  .copyright {
	text-align: center;
  }
  
  #contact input:focus,
  #contact textarea:focus {
	outline: 0;
  }
  
  ::-webkit-input-placeholder {
	color: #888;
  }
  
  :-moz-placeholder {
	color: #888;
  }
  
  ::-moz-placeholder {
	color: #888;
  }
  
  :-ms-input-placeholder {
	color: #888;
  }
  
  .steps > ul > li > a,
  .actions li a { 
	  padding: 10px;
	  text-decoration: none;
	  margin: 1px;
	  display: block;
	  color: #777;
  }
  .steps > ul > li,
  .actions li {
	  list-style:none;
  } 
  
  
  #contact{
	  .form-group{
		  position: relative;
	  }
	  select{
		  display: block !important;
		  font-family: -apple-system, Gotham,sans-serif;;
  
	  }
	  .nice-select{
		  display: none !important;		
	  }
  
	  .form-control{
		  padding: .375rem .75rem;
		  height: calc(2.25rem + 6px);
		  border-radius: 0;
		  border: 2px solid #d7d7d7;
		  font-size: .9rem;
		  &:focus{
			  border-color: #38ac70;
			  -webkit-box-shadow: none;
			  box-shadow: none;
		  }
	  }
	  
  }
  
  .test{
	  select{
		  display: block !important;
  
	  }
	  .nice-select{
		  display: none !important;		
	  }
  }
  
  #docs {
	  display: block;
	  position: fixed;
	  bottom: 0;
	  right: 0;
  }
  
  .list-inline{
	  padding-left: 0 !important;
	  list-style: none !important;
	  li{
		  display: inline-block !important;
		  margin-right: 20px;
	  }
  }
  
  .wrapp-c-form{
	  padding: 2em;
	  @media(max-width: 992px){
		  padding: 20px 0;
	  }
  }
  
  .checkbox-s{
	  text-align: right;
	  @media(min-width: 1024px){
		  padding-right: 3.1em;
	  }
	  label{
		  font-size: 12px !important;
		  margin-left: 3px;
	  }
  }
  
  .rotate-left{
	  -ms-transform: rotate(180deg);
	  -webkit-transform: rotate(180deg);
	  transform: rotate(180deg);
  }
  
  @media (max-width: 720px){
  .wizard .steps li {
	  width: 100% !important;
  }
  }
  
  @media (max-width: 595px){
	  #contact .content {
		  padding-bottom: 125px;
	  }
  }
  
  .wrapp-intro-table-alt{
	  background: #FAFAFA;
	  padding: 20px;	
	  border-left: 1px solid #e5e5e5;
	  border-right: 1px solid #e5e5e5;
  }
  
  .intro-table-alt{
	  border: none;
	  background: #FAFAFA;
	  margin-bottom: 0;
	  &:before{
		  display: none;
	  }
	  .intro-table-item{
		  &.text-md-left{
			  h5{
				  margin-bottom: 0;
				  line-height: 1.8;
			  }
		  }
		  .inner{
			  padding: 10px;
			  sub{
				  font-size: 55%;
				  bottom: 0;
			  }
			  h2{
				  font-size: 28px;
				  font-weight: 600;
			  }
			  h5{
				  font-size: 14px;
			  }
			  p{
				  font-size: 12px;
			  }
			  @media(max-width: 767px){
				  padding: 33px 20px;
			  }
		  }
		  &:first-child{
			  .inner{
				  @media (max-width: 767px){
					  padding-top: 40px;
				  }
			  }
		  }
		  &:last-child{
			  text-align: center;
			  .inner{
				  @media (max-width: 1024px) and (min-width: 767px){
					  padding-right: 0;
				  }
			  }
		  }
  
	  }
  }
  
  .detail-content{
	  h2{
		  font-family: Gotham,sans-serif;
	  }
  }
  
  .ctr-element{
	  position: relative;
	  &.ctr-30{
		  top: 30%;
		  @media (max-width: 767px){
			  top: 0;
		  }
	  }
	  &.ctr-20{
		  top: 20%;
		  @media (max-width: 767px){
			  top: 0;
		  }
	  }
	  &.ctr-10{
		  top: 10%;
		  @media (max-width: 767px){
			  top: 0;
		  }
	  }
	  
  }
  
  .figure-qs{
	  min-height: 88px;
  }
  
  .inner-q-form-alt{
	  padding: 40px;
	  border: 1px solid #e5e5e5;
  }
  
  .intro-top-info{
	  font-size: 12px;
	  color: #898989;
	  text-align: center;
	  line-height: 2;
  }
  
  .quotes-heading-alt{
	  background: #38AC70 !important;
	  text-transform: uppercase;
  }
  
  .quote-steps-alt{
	  padding-bottom: 135px;
  }
  
  .main-alt{
	  margin-top: -188px;
	  @media(max-width: 767px){
		  margin-top: -145px;
	  }
  }
  
  #preloader{
	  z-index: 10001;
	  background-color: white;
	  width: 100%;
	  height: 100%;
	  position: fixed;
  }
  #status {  
	  position: absolute;
	  top: 0;
	  right: 0;
	  bottom: 0;
	  left: 0;
	  margin: auto;
	  // background-image: url(image) /* path to your loading animation */
	  background-repeat: no-repeat;
	  background-position: center;
	  max-width: 318px;
	  height: 200px;
	  margin: auto;
	  text-align: center;
	  .image-logo{
		  top: 45%;
		  position: relative;
		  margin-top: -50px;
		  max-width: 145px;
		  z-index: 1;
	  }
	  .image-loading{
		  top: 50%;
		  position: relative;
		  margin-top: -42px;
		  margin-bottom: -13px;
		  width: 222px;
		  z-index: -1;
	  }
  }
  
  #waiting-periode-accordion .card-header h5 button{
	  color: #fff;
	  width: 100%;
	  background: #19984A;
	  text-align: left;
	  font-size: 15px;
	  padding: 15px 20px;
	  white-space: normal;
	  @media (max-width: 767px){
		  padding-right: 13%!important;
		  line-height: 1.5;
	  }
  }
  
  #waiting-periode-accordion .card-header h5 button:hover,
  #waiting-periode-accordion .card-header h5 button:focus{
	  text-decoration: none;
  }
  
  #waiting-periode-accordion .card-header h5 button.collapsed{
	  color: #000;
	  background: #fff;
  }
  
  #waiting-periode-accordion .card-header h5 button:before{
		  content: "";
	  width: 8px;
	  height: 8px;
	  border-left: 2px solid #fff;
	  border-top: 2px solid #fff;
	  -webkit-transform: rotate(45deg);
	  transform: rotate(45deg);
	  position: absolute;
	  top: 7.5px;
	  bottom: 0;
	  right: 20px;
	  margin: auto 0;
  }
  
  #waiting-periode-accordion .card-header h5 button.collapsed:before {
	  top: -7.5px;
	  border-top: 0;
	  border-left: 0;
	  border-right: 2px solid #000;
	  border-bottom: 2px solid #000;
  }
  
  #waiting-periode-accordion .card-header {
	  color: #fff;
	  border-radius: 0!important;
	  position: relative;
	  z-index: 0;
	  padding: 0;
	  border-bottom: none;
  }
  
  #waiting-periode-accordion{
	  .card-body{
		  padding: 1.25rem 2.25rem;
		  p{
			  font-size: 14px;
		  }
	  }
  }
  
  #waiting-periode-accordion .card:first-of-type{
	  border-radius: 0;
  }
  
  .small-notif{
	  font-size: 10px;
	  color: #929292;
	  font-weight: 600;
  }
  
  .cc-complete{
	  background-image: url('../img/hero-complete.jpg');
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		-webkit-background-size: cover;
		-moz-background-size: cover; 
		-o-background-size: cover; 
	  padding: 4% 0;
	  position: relative;
	  h2{
		  color: #fff; 
		  line-height: 1.4;
	  }
  }
  
  .single-save-item{
	  margin-bottom: 30px;
	  .inner{
		  border: 1px solid #F1F1F1;
		  text-align: center;
		  .logo-item{
			  border-bottom: 1px solid #F1F1F1;
			  padding: 20px;
			  figure{
				  margin-bottom: 0;
			  }
		  }
		  .detail-item{
			  padding: 20px;
			  p{
				  font-size: 15px;
			  }
			  .btn{
				  letter-spacing: 1px;
			  }
		  }
	  }
  }
  
  .mb-15{
	  margin-bottom: 15px;
  }