.cc-form-login {
    background: #F9F9F9;
    min-height: 100vh;
}

.cc-fl-logo {
    margin-bottom: 40px;
} 

.cc-login-form {
    background: #fff;
    padding: 40px 43px 65px 43px;

    input.form-control {
        border: 0;
        border-bottom: 1px solid #000;
        border-radius: 0!important;
        outline: none;
        box-shadow: none;
        padding: 20px 0;
        display: block;
        height: auto;

        &:focus, &:active {
            border-color: $secondary;
        }
    }

    .alert {
        display: none;
        border-radius: 0;
    }

    button {
        letter-spacing: 1px;
        padding: 20px;
        margin-top: 35px;
    }
}