.section-lg {
	padding: 97px 0;

	@include media-breakpoint-down(md) {
		padding: 50px 0;
	}

	@include media-breakpoint-down(xs) {
		padding: 50px 0;
	}
}

.brd-r-1 {
	border-right: 1px solid #eaeaea;
}

@include media-breakpoint-down(xs) {
	.brd-r-1 {
		border-right: 0;
	}
}

/* MARGIN */
$max: 100;
$step: 2;

@for $x from 4 through ceil($max/$step) {
	$i: ($x - 1)*$step;
    .m-#{$i} {
        margin: #{$i}px!important;
    }

    .mt-#{$i} {
        margin-top: #{$i}px!important;
    }

    .mr-#{$i} {
        margin-right: #{$i}px!important;
    }

    .mb-#{$i} {
        margin-bottom: #{$i}px!important;
    }

    .ml-#{$i}{
        margin-left: #{$i}px!important;
    }

    .my-#{$i}{
        margin-top: #{$i}px!important;
        margin-bottom: #{$i}px!important;
    }

    .mx-#{$i} {
        margin-left: #{$i}px!important;
        margin-right: #{$i}px!important;
    }

    /* padding */
    .p-#{$i} {
        padding: #{$i}px!important;
    }

    .p-#{$i}{
        padding: #{$i}px!important;
    }

    .pt-#{$i}{
        padding-top: #{$i}px!important;
    }

    .pr-#{$i}{
        padding-right: #{$i}px!important;
    }

    .pb-#{$i}{
        padding-bottom: #{$i}px!important;
    }

    .pl-#{$i}{
        padding-left: #{$i}px!important;
    }

    .py-#{$i}{
        padding-top: #{$i}px!important;
        padding-bottom: #{$i}px!important;
    }

    .px-#{$i}{
        padding-left: #{$i}px!important;
        padding-right: #{$i}px!important;
    }
}

@include media-breakpoint-up(md) {
    @for $x from 4 through ceil($max/$step) {
    	$i: ($x - 1)*$step;
        .m-md-#{$i}{
            margin: #{$i}px!important;
        }

        .mt-md-#{$i}{
            margin-top: #{$i}px!important;
        }

        .mr-md-#{$i}{
            margin-right: #{$i}px!important;
        }

        .mb-md-#{$i}{
            margin-bottom: #{$i}px!important;
        }

        .ml-md-#{$i}{
            margin-left: #{$i}px!important;
        }

        .my-md-#{$i}{
            margin-top: #{$i}px!important;
            margin-bottom: #{$i}px!important;
        }

        .mx-md-#{$i}{
            margin-left: #{$i}px!important;
            margin-right: #{$i}px!important;
        }

        /* padding */
        .p-#{$i}{
            padding: #{$i}px!important;
        }

        .p-md-#{$i}{
            padding: #{$i}px!important;
        }

        .pt-md-#{$i}{
            padding-top: #{$i}px!important;
        }

        .pr-md-#{$i}{
            padding-right: #{$i}px!important;
        }

        .pb-md-#{$i}{
            padding-bottom: #{$i}px!important;
        }

        .pl-md-#{$i}{
            padding-left: #{$i}px!important;
        }

        .py-md-#{$i}{
            padding-top: #{$i}px!important;
            padding-bottom: #{$i}px!important;
        }

        .px-md-#{$i}{
            padding-left: #{$i}px!important;
            padding-right: #{$i}px!important;
        }
    }
}

@include media-breakpoint-up(lg) {
    @for $x from 4 through ceil($max/$step) {
    	$i: ($x - 1)*$step;
        .m-lg-#{$i}{
            margin: #{$i}px!important;
        }

        .mt-lg-#{$i}{
            margin-top: #{$i}px!important;
        }

        .mr-lg-#{$i}{
            margin-right: #{$i}px!important;
        }

        .mb-lg-#{$i}{
            margin-bottom: #{$i}px!important;
        }

        .ml-lg-#{$i}{
            margin-left: #{$i}px!important;
        }

        .my-lg-#{$i}{
            margin-top: #{$i}px!important;
            margin-bottom: #{$i}px!important;
        }

        .mx-lg-#{$i}{
            margin-left: #{$i}px!important;
            margin-right: #{$i}px!important;
        }

        /* padding */
        .p-lg-#{$i}{
            padding: #{$i}px!important;
        }

        .p-lg-#{$i}{
            padding: #{$i}px!important;
        }

        .pt-lg-#{$i}{
            padding-top: #{$i}px!important;
        }

        .pr-lg-#{$i}{
            padding-right: #{$i}px!important;
        }

        .pb-lg-#{$i}{
            padding-bottom: #{$i}px!important;
        }

        .pl-lg-#{$i}{
            padding-left: #{$i}px!important;
        }

        .py-lg-#{$i}{
            padding-top: #{$i}px!important;
            padding-bottom: #{$i}px!important;
        }

        .px-lg-#{$i}{
            padding-left: #{$i}px!important;
            padding-right: #{$i}px!important;
        }
    }
}